{% extends "admin/base_site.html" %}
{% load static thumbnail %}

{% block extrahead %} 
    {{ block.super }}

    <script src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    <script src="{% static 'admin/js/vendor/select2/select2.full.js' %}"></script>
    <link href="{% static 'admin/css/vendor/select2/select2.css' %}" media="screen" rel="stylesheet">
    {{ form.media }}
    
    <script>
        $(document).ready(function() {
            $(".select2-field").select2();
        });
    </script>
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">Home</a> › <a href="/admin/mia_buildings/">Mia_Buildings</a> › <a href="{% url 'admin:mia_buildings_buildingimage_changelist' %}">Building images</a> › {{ title }}
    </div>
{% endblock %}

{% block content %}
    <div id="content-main">
        <form method="post" class="bulkupload-form" enctype="multipart/form-data">
            {% csrf_token %}

            <fieldset class="module aligned">
            {% for field in form.visible_fields %}
                <div class="form-row field-{{ field.name }}">
                    <div>
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        <div class="form-input">
                        {{ field }}
                        {% if field.help_text %}
                            <p class="help">{{ field.help_text }}</p>
                        {% endif %}
                        {{ field.errors }}
                        </div>
                    </div>
                </div>
            {% endfor %}
            </fieldset>

            <div class="submit-row">
                <input class="default" type="submit" value="Add images">
            </div>
        </form>
    </div>
{% endblock %}