{% extends "mia_general/base.html" %}

{% load static %}

{% block extra_head_tags %}
    <title>List of modernist architects on MIA</title>
    <meta name="description" property="og:description" content="{{persons.count}} modernist architects have been archived so far on modernism-in-architecture.org.">
    <meta name="keywords" content="modernist architects, architects of the 20s, architects of the interwar period">

    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:title" content="List of modernist architects on MIA" />
    <meta property="og:image" content="https://modernism-in-architecture.org/static/img/mia-logo_square.fc43caad2f32.png" />
    <meta property="og:image:alt" content="Three letters of the logo: red M, blue I, yellow A" />
    <meta name="twitter:card" value="summary">

    <link rel="canonical" href="https://modernism-in-architecture.org/people/architects/" />
{% endblock %}

{% block body_class %}architects{% endblock %}

{% block extra_css %}{% endblock %}

{% block breadcrumbs %}
    <section class="breadcrumbs-section">
        <div class="container">
            <nav class="mia-breadcrumb breadcrumb has-bullet-separator is-small" aria-label="breadcrumbs">
                <nav>
                    <ul>
                        <li>
                            <a href="{% url 'main' %}">
                                <span class="hidden" aria-hidden="false">Home</span>
                            </a>
                        </li>
                        <li>
                            <a class="inactive" href="{% url 'architect-index-list' %}" aria-level="2">
                                Architects
                            </a>
                        </li>
                    </ul>
                </nav>
            </nav>
        </div>
    </section>
{% endblock breadcrumbs %}

{% block content %}
    <section class="last-section mt-3 mb-5 pl-5 pr-5">
        <div class="container">
            <div class="content">
                <h1>List of modernist architects on MIA ({{persons.count}})</h1>

                <div class="columns">
                    <div class="column">
                        <p class="mb-4"> 
                            <a class="alphabet-link mr-2" href="{% url 'architect-index-list' %}"><span class="letter {% if not filter_tag %}active-letter{% endif %}">all</span></a>
                            {% for letter in last_name_alphabet %}
                                <a class="alphabet-link mr-2" href="{% url 'architect-index-list' %}?letter={{letter}}">
                                    <span class="letter {% if filter_tag == letter %}active-letter{% endif %}">
                                        {{ letter }}
                                    </span>
                                </a>
                            {% endfor %}
                        </p>
                    </div>
                    <div class="column">
                        <form action="" method="get" class="form-search">
                            {% csrf_token %}
                            <div class="field has-addons is-justify-content-flex-end">
                                <div class="control">
                                    <input type="text" class="input" name="q" placeholder="Search" title="Search for:">
                                </div>
                                <div class="control">
                                    <button class="button" type="submit" name="submit" id="searchsubmit" value="Search">
                                        <ion-icon name="search-outline"></ion-icon>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="columns">
                    <div class="column">
                        {% if search_term and persons %}
                            <p id="search-description">
                                You searched for: {{search_term}} <a href="{% url 'architect-index-list' %}"><ion-icon name="trash-outline"></ion-icon></a> 
                            </p>
                        {% endif %}
                        {% if not persons %}
                            <p class="mt-3">No results for this selection. Please try again. <a href="{% url 'architect-index-list' %}"><ion-icon name="trash-outline"></ion-icon></a></p>
                        {% endif %}
                    </div>
                </div>

                <div class="columns is-multiline is-centered">
                    {% for person in persons %}
                        <div class="column column is-half-tablet is-one-third-desktop">
                            <a class="person-link" href="{% url 'architect-details' person.slug %}" alt="{{person.last_name}}">
                                <div class="card">
                                    <div class="card-content">
                                        <div class="content">
                                            <h2 class="is-size-5 is-marginless">{{person.last_name}}{% if person.first_name %}, {{person.first_name}}{% endif %}</h2>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
