{% extends "base.html" %}

{% load navigation_tags static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}general{% endblock %}

{% block breadcrumbs %}
<section class="breadcrumbs-section">
  <div class="container">
    {% breadcrumbs %}
  </div>
</section>
{% endblock breadcrumbs %}

{% block content %}
<section class="section last-section">
  <div class="container {{page.title|lower}}">
    <div class="columns">
      <div class="column">
        <div class="content">
          <h1>{{page.title}}</h1>
          {{page.body|richtext}}
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}