.coverage
.python-version
.DS_Store
.env
.env.*
.secret
.idea/
*.pyc
.vscode/
__pycache__
db.sqlite3
env
htmlcov/
app/media/
node_modules/
app/static/
!app/modernism/static/
--silent
.vault_pass
*.pem
*.key
id_ed25519
id_rsa
