{% load static %}
<footer class="footer">
  <div class="content has-text-centered">
    <div class="columns is-mobile is-centered">
      <div class="column is-narrow">
        <a class="{% if request.resolver_match.view_name == 'intro'%}active{% endif %}" href="{% url 'intro' %}">
          Intro
        </a>
      </div>
      <div class="column is-narrow">
        <a class="{% if request.resolver_match.view_name == 'about'%}active{% endif %}" href="{% url 'about' %}">
          About
        </a>
      </div>
      <div class="column is-narrow">
        <a class="{% if request.resolver_match.view_name == 'legal'%}active{% endif %}" href="{% url 'legal' %}">
          Legal info
        </a>
      </div>
      <div class="column is-narrow">
        <a class="{% if request.resolver_match.view_name == 'privacy'%}active{% endif %}" href="{% url 'privacy' %}">
          Privacy Policy
        </a>
      </div>
    </div>
    <div class="columns is-mobile is-centered">
      <div class="column is-narrow">
        <a href="https://www.instagram.com/modernism_in_architecture/" target="_blank" rel="noreferrer noopener">
          <ion-icon name="logo-instagram" class="is-size-4"></ion-icon>
        </a>
      </div>
      <div class="column is-narrow">
        <a href="https://twitter.com/MIA_buildings" target="_blank" rel="noreferrer noopener">
          <ion-icon name="logo-twitter" class="is-size-4"></ion-icon>
        </a>
      </div>
      <div class="column is-narrow">
        <a href="https://github.com/Modernism-in-Architecture" target="_blank" rel="noreferrer noopener">
          <ion-icon name="logo-github" class="is-size-4"></ion-icon>
        </a>
      </div>
      <div class="column is-narrow">
        <a href="mailto:hello@modernism-in-architecture.org" target="_blank" referrerpolicy="origin" rel="noreferrer noopener">
            <ion-icon name="mail" class="is-size-4"></ion-icon>
        </a>
      </div>
    </div>
    <div class="columns is-mobile is-centered">
      <div class="column is-narrow">
        <a href="https://apps.apple.com/de/app/modernism-in-architecture/id1609862283?l=en"  target="_blank" rel="noreferrer noopener">
          <img class="store-link" src="{% static 'img/appstore_badge_white.svg' %}">
        </a>
        <a href="https://play.google.com/store/apps/details?id=org.modernism_in_architecture.mia" target="_blank" rel="noreferrer noopener">
          <img class="store-link" src="{% static 'img/google-play-badge_noframe.png' %}">
       </a>
      </div>
    </div>
    <p>Modernism in Architecture, {% now "Y" %}</p>
    <p class="disclaimer">made with ❤️, <a href="https://djangoproject.com/" target="_blank" rel="noreferrer noopener"><span class="text-gray">Django</a>
      & <a href="https://bulma.io" target="_blank" rel="noreferrer noopener"><span class="text-gray">bulma</span></a></p>
  </div>
</footer>