{% extends "mia_general/base.html" %}

{% load static thumbnail %}

{% block extra_head_tags %}
    <title>{% if person.seo_title %}{{ person.seo_title }}{% else %}Architect {% if person.first_name %}{{person.first_name}} {% endif %}{{person.last_name}}{% endif %}</title>
    <meta name="description" property="og:description" content="{{fact.description|striptags|truncatewords:150}}">
    <meta name="keywords" content="{{person.last_name}}, modernist architect">

    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:title" content="{% if person.seo_title %}{{ person.seo_title }}{% else %}Architect {% if person.first_name %}{{person.first_name}} {% endif %}{{person.last_name}}{% endif %}" />
    <meta property="og:image" content="https://modernism-in-architecture.org/static/img/mia-logo_square.fc43caad2f32.png" />
    <meta property="og:image:alt" content="Three letters of the logo: red M, blue I, yellow A" />
    <meta name="twitter:card" value="summary">
{% endblock %}

{% block body_class %}architect{% endblock %}

{% block breadcrumbs %}
    <section class="breadcrumbs-section">
        <div class="container">
            <nav class="mia-breadcrumb breadcrumb has-bullet-separator is-small" aria-label="breadcrumbs">
                <nav>
                    <ul>
                        <li>
                            <a href="{% url 'architect-index-list' %}" aria-level="2">
                                <ion-icon name="return-up-back-outline" class="mr-1"></ion-icon>back
                            </a>
                        </li>
                    </ul>
                </nav>
                <nav>
                    <ul>
                        <li>
                            <a href="{% url 'main' %}">
                                <span class="hidden" aria-hidden="false">Home</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'architect-index-list' %}" aria-level="2">
                                Architects
                            </a>
                        </li>
                        <li>
                            <a class="inactive" href="{% url 'architect-details' person.slug %}" aria-level="2">
                                {{person.last_name|truncatechars:20}}
                            </a>
                        </li>
                    </ul>
                </nav>
            </nav>
        </div>
    </section>
{% endblock breadcrumbs %}

{% block content %}
    <section class="section last-section">
        <div class="container">
            <h1 class="is-size-3 mb-5">{% if person.first_name %}{{person.first_name}} {% endif %}{{person.last_name}}</h1>
            <div class="columns">
                <div class="column is-8-tablet">
                    <div class="content">
                        {% if person.birthday or person.day_of_death %}
                            <div class="columns">
                                <div class="column">
                                    <div class="columns is-gapless">
                                        {% if person.birthday %}
                                            <div class="column is-1">
                                                <ion-icon name="heart-circle-outline" class="is-size-4"></ion-icon>
                                            </div>
                                        {% endif %}
                                        {% if person.birthday %}
                                            <div class="column">
                                                {% if person.birth_year_known_only %}
                                                    {{person.birthday|date:"Y"}}
                                                {% else %}
                                                    {{person.birthday}}
                                                {% endif %}
                                                {% if person.birth_place %}
                                                    in {{person.birth_place}}, {{person.birth_place.country}}
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="columns is-gapless">
                                        {% if person.day_of_death %}
                                            <div class="column is-1">
                                                <ion-icon name="heart-dislike-circle-outline" class="is-size-4"></ion-icon>
                                            </div>
                                        {% endif %}
                                        
                                        {% if person.day_of_death %}
                                            <div class="column">
                                                {% if person.death_year_known_only %}
                                                    {{person.day_of_death|date:"Y"}}
                                                {% else %}
                                                    {{person.day_of_death}}
                                                {% endif %}
                                                {% if person.death_place %}
                                                    in {{person.death_place}}, {{person.death_place.country}}
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% if person.description %}
                            <div class="card">
                                <div class="card-content is-size-5">
                                    {{person.description|safe}}
                                    {% if source_urls or source_books %}
                                        <p><strong>Sources</strong></p>
                                        <ul>
                                            {% for source in source_urls.all %}
                                                <li><a href="{{source.url}}" target="_blank" rel="noreferrer noopener">{{source.title}}</a></li>
                                            {% endfor %}
                                            {% for source in source_books.all %}
                                                <li>
                                                    {% for author in source.authors.all %} {{author.last_name}}{% if forloop.last %}:{% else %}, {% endif %}{% endfor %} {{source.title}}, {% if source.year %}{{source.year}}{% endif %}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                        <div class="mt-5">
                            {% if related_buildings %}
                                <h2>Buildings</h2>
                                <div class="columns is-multiline">
                                    {% for building in related_buildings %}
                                        {% if building.feed_images %}
                                            <div class="column is-2-tablet">
                                                <div class="preview-image">
                                                    <a href="{% url 'building-details' building.slug %}">
                                                        <img src="{{ building.feed_images.0.image|thumbnail_url:'feed' }}" alt="{{building.name}}">
                                                    </a>
                                                </div>
                                                <p>{{building.city}}, {{building.city.country}}<br/>{{building.name}}</p>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
