.filtered_select_multiple {
    h2 {
        font-size: 1rem;
        margin-bottom: 0;
        font-weight: 200;
        padding: 0.2rem;
    }
    .selector .help-icon {
        display: none;
    }
    .selector-chosen h2 {
        background: #047d7e;
    }
    @media screen and (max-width: 969px) {
        .selector {
            width: 100%;
        }
        .selector select {
            width: 100% !important;
        }
        .selector ul.selector-chooser {
            margin: 1em 5px 0 5px;
            padding: 0;
        }
        .selector-available, .selector-chosen {
            width: 100%;
        }
        .selector .selector-available input {
            width: 100%;
            padding: 8px;
        }
    }
}