@charset "utf-8";
@import "../../../node_modules/bulma/sass/utilities/initial-variables";

/* righteous-regular - latin */
@font-face {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/righteous-v8-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Righteous'), local('Righteous-Regular'),
         url('../fonts/righteous-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/righteous-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/righteous-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/righteous-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/righteous-v8-latin-regular.svg#Righteous') format('svg'); /* Legacy iOS */
}

/* roboto-regular - latin-ext_latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v20-latin-ext_latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local('Roboto'), local('Roboto-Regular'),
         url('../fonts/roboto-v20-latin-ext_latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v20-latin-ext_latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v20-latin-ext_latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v20-latin-ext_latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v20-latin-ext_latin_cyrillic-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

$tablet: 767px;
$desktop: 1050px + (2 * $gap);

$roboto: "Roboto";
$righteous: "Righteous";

$yellow: rgb(255,255,0);
$blue: rgb(0,0,255);
$red: rgb(255,0,0);

$text: rgb(68,68,68);
$link: $black;
$link-hover: $blue;
$border-radius: 10px;
$family-sans-serif: $roboto;
$navbar-item-img-max-height: 3rem;
$navbar-background-color: black;
$navbar-item-color: $white;
$navbar-item-active-color: $grey-dark;
$navbar-item-hover-color: $yellow;
$navbar-item-hover-background-color: transparent;
$navbar-dropdown-background-color: black;
$navbar-dropdown-item-hover-background-color: transparent;
$navbar-dropdown-item-hover-color: $yellow;
$menu-nested-list-padding-left: 0;
$menu-list-link-padding: 0em 0.75em;
$footer-background-color: $black;
$footer-padding: 2rem 1.5rem 1.5rem;


@import "../../../node_modules/bulma/bulma";

.yellow {
    color: $yellow;
}
.blue {
    color: $blue;
}
.red {
    color: $red;
}

img {
    border-radius: $border-radius;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.breadcrumbs-section, .filter-section{
    padding: 1.5rem 1.5rem 0 1.5rem;
}

.last-section {
    flex: 1;
}

.navbar {
    font-family: $righteous;
    .navbar-brand {
        img {
            border-radius: 0;
            max-height: 1.3rem;
        }
    }
    &.is-fixed-top {
        z-index: 999;
    }
    .navbar-burger span {
        height: 2px;
    }
    .navbar-burger:hover {
        background-color: transparent;
    }
}

.breadcrumb .inactive {
    color: $grey;
}

.buildings, .building, .people-index, .people, .knowledge {
    .section {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        .content {
            a:hover {
                color: $red;
            }
        }
    }
   
}

.card {
    border-radius: $border-radius;
    overflow: hidden;
    .card-content {
        padding: 0.8rem;
    }
    .card-image {
        overflow: hidden;
    }
    .image {
        transition: transform 0.7s ease;
    }
    .image img {
        border-radius: 0;
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
    }
    .image:hover {
        transform: scale(1.08);
    }
}

.home {
    h1 {
        font-family: $righteous;
        color: $white;
    }
    h3 {
        color: $white;
    }
    .hero {
        background: url(../img/BirgitBoellinger@Pixabay.jpg);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        .content {
            background-color: rgba($black, 0.8);
            padding: 1.6rem;
            border-radius: $border-radius;
        }
    }
}

.buildings, .facts {
    .menu {
        a.button {
            margin-bottom: 1em;
        }
        a:hover {
        color: $blue;
        background-color:transparent;
        }
        .svg-inline--fa.fa-w-14 {
            width: 0.6em;
        }
        .active {
            color: $blue;
        }
        .link-content {
            display: none;
        }
        .show {
            display: block;
        }
        .filter-category {
            margin-top: 0.5em;
            letter-spacing: 0.1em;
        }
        .country-on-top {
            margin-top: 1.3em;
        }
        .item {
            letter-spacing: 0.04em;
        }
    }
    .content .rich-text {
        margin-bottom: 2rem;
    }
}

.building {
    .building-address {
        margin-top: 1rem;
    }
    .content .people {
        margin-top: 1rem;
        margin-bottom: 0;
    }
    .content .rich-text {
        margin-bottom: 1rem;
    }
    .modal {
        padding: 1rem;
    }
    .modal-content {
        width: 100%;
        .modal-close, figure {
            margin-top: 2.5rem;
        }
        .image-nav-btn {
            margin-top: 2rem;
        }
        button {
            border-radius: 10px;
        }
        #image-description, #image-photographer {
            color: $white;
        }
        #image-photographer { 
            font-size: small;
            font-style: italic;
        }
    }
}

@media screen and (max-width: 840px) {
    .reverse-column-order {
      display: flex;
      flex-direction: column-reverse;
    }
}

.people, .facts {
    .rich-text {
        margin: 2rem 0;
    }
}

.facts {
    .facts-content {
        display: none;
    }
    .show {
        display: block;
    }
}

.places {
    #mapid { height: 80vh; }
    .leaflet-top {
        z-index: 950;
    }
    .leaflet-container{
        border-radius: $border-radius;
    }
}

footer {
    font-family: $righteous;
    a {
        color: $white;
    }
    a:hover {
            color: $yellow;
    }
    .disclaimer {
        font-size: 0.8rem;
        font-family: $roboto;
    }
    .active {
        color: $grey-darker;
    }
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 2;
    font-size: 15px;
    border: none;
    outline: none;
    background-color: $red;
    color: $yellow;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    transform: rotate(270deg);
    text-decoration: none;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
}
  
#myBtn:hover {
    background-color: $grey-dark;
}