@charset "utf-8";
@import "../../../node_modules/bulma/sass/utilities/initial-variables";

/* righteous-regular - latin */
@font-face {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/righteous-v8-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Righteous'), local('Righteous-Regular'),
         url('../fonts/righteous-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/righteous-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/righteous-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/righteous-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/righteous-v8-latin-regular.svg#Righteous') format('svg'); /* Legacy iOS */
}

/* roboto-regular - latin-ext_latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v20-latin-ext_latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local('Roboto'), local('Roboto-Regular'),
         url('../fonts/roboto-v20-latin-ext_latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v20-latin-ext_latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v20-latin-ext_latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v20-latin-ext_latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v20-latin-ext_latin_cyrillic-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

$tablet: 767px;
$desktop: 1050px + (2 * $gap);

$roboto: "Roboto";
$righteous: "Righteous";

$yellow: rgb(255,255,0);
$blue: rgb(0,0,255);
$red: rgb(255,0,0);

$text: rgb(68,68,68);
$link: $black;
$link-hover: $blue;
$border-radius: 10px;
$family-sans-serif: $roboto;
$navbar-item-img-max-height: 3rem;
$navbar-background-color: black;
$navbar-item-color: $white;
$navbar-item-active-color: $grey-dark;
$navbar-item-hover-color: $yellow;
$navbar-item-hover-background-color: transparent;
$navbar-dropdown-background-color: black;
$navbar-dropdown-item-hover-background-color: transparent;
$navbar-dropdown-item-hover-color: $yellow;
$menu-nested-list-padding-left: 0;
$menu-list-link-padding: 0em 0.75em;
$box-radius: $border-radius;
$card-shadow:rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
$modal-card-head-radius: $border-radius;
$box-shadow: $card-shadow;
$tag-background-color: rgba(68,68,68, 0.8);;
$tag-color: $white;
$footer-background-color: $black;
$footer-padding: 2rem 1.5rem 1.5rem;


@import "../../../node_modules/bulma/bulma";

.yellow {
    color: $yellow;
}
.blue {
    color: $blue;
}
.red {
    color: $red;
}

img {
    border-radius: $border-radius;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.dotted-link, a {
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-style: dotted;
}

.navbar a,
.breadcrumb a,
.dropdown-link,
.link-content a,
.country-list a,
.menu-label a,
.index-tag,
.card-title,
.footer a,
.person-link,
.leaflet-popup-content a,
.button {
    text-decoration: none;
}

.breadcrumbs-section, .filter-section{
    padding: 1.5rem 1.5rem 0 1.5rem;
}

.last-section {
    flex: 1;
}

.navbar {
    font-family: $righteous;
    .navbar-brand {
        img {
            border-radius: 0;
            max-height: 1.3rem;
        }
    }
    &.is-fixed-top {
        z-index: 999;
    }
    .navbar-burger span {
        height: 2px;
    }
    .navbar-burger:hover {
        background-color: transparent;
    }
}

.breadcrumb .inactive {
    color: $grey;
}

.buildings, .building, .people-index, .people, .knowledge {
    .section {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        .content {
            a:hover {
                color: $red;
            }
        }
    }
   
}

.card {
    border-radius: $border-radius;
    overflow: hidden;
    .card-content {
        padding: 0.8rem;
    }
    .card-image {
        overflow: hidden;
    }
    .image {
        transition: transform 0.7s ease;
    }
    .image img {
        border-radius: 0;
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
    }
    .image:hover {
        transform: scale(1.08);
    }
}

.home {
    h1 {
        font-family: $righteous;
        color: $white;
    }
    h3 {
        color: $white;
    }
    .hero {
        background: url(../img/BirgitBoellinger@Pixabay.jpg);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        .content {
            background-color: rgba($black, 0.8);
            padding: 1.6rem;
            border-radius: $border-radius;
        }
    }
}

.buildings, .facts {
    .menu {
        a.button {
            margin-bottom: 1em;
        }
        a:hover {
        color: $blue;
        background-color:transparent;
        }
        .svg-inline--fa.fa-w-14 {
            width: 0.6em;
        }
        .active {
            color: $blue;
        }
        .link-content {
            display: none;
        }
        .show {
            display: block;
        }
        .filter-category {
            margin-top: 0.5em;
            letter-spacing: 0.1em;
        }
        .country-on-top {
            margin-top: 1.3em;
        }
        .item {
            letter-spacing: 0.04em;
        }
    }
    .content .rich-text {
        margin-bottom: 2rem;
    }
}

.building {
    .building-address {
        margin-top: 1rem;
    }
    .building-tag {
      text-decoration: none;
    }
    .content .rich-text {
        margin-bottom: 1rem;
    }
    .preview-image, .feed-image img {
        box-shadow: $card-shadow;
    }
    .modal {
        padding: 1rem;
    }
    .modal-content {
        width: 100%;
        .modal-close, figure {
            margin-top: 2.5rem;
        }
        .image-nav-btn {
            margin-top: 2rem;
        }
        button {
            border-radius: 10px;
        }
        #image-description, #image-photographer {
            color: $white;
        }
        #image-photographer { 
            font-size: small;
            font-style: italic;
        }
    }
    .preview-image {
        cursor: pointer;
    }
    .tags:not(:last-child) {
        margin-bottom: 0;
    }
    span[data-tooltip] {
        border-bottom: none;
        font-size: smaller;
    }
}

.building-idx-container {
    min-height: 75vh;
    #apply-filter-btn:hover {
        background-color: rgba($black, 0.9);
        color: rgba($white, 0.8);
    };
    #reset-filter-btn {
        background-color: #e8e8e8;
        border-color: #bbb;
        &:hover {
            background-color: #bbb; 
        }
    }
    .button.is-outlined.remove-btn {
        background-color: rgba($black, 0.2);
        border-color: transparent;
    }
    .button.is-small {
        border-radius: 5px;
    }
    .menu {
        z-index: 40;
        margin-top: 0.2rem;
    }
    #id_architects,
    #id_developers,
    #id_years,
    #id_cities,
    #id_countries {
        height: 10rem;
        width: 100%;
        overflow-y: scroll;
        /* Firefox */
        scrollbar-width: thin;
        scrollbar-color: lightgrey grey;
        padding: 0.3rem 0.6rem 0.3rem 0.3rem;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    /* Works on Chrome, Edge, and Safari */
    #id_architects::-webkit-scrollbar,
    #id_developers::-webkit-scrollbar,
    #id_years::-webkit-scrollbar,
    #id_cities::-webkit-scrollbar {
        width: 12px;
    }
    
    #id_architects::-webkit-scrollbar-track,
    #id_developers::-webkit-scrollbar-track,
    #id_years::-webkit-scrollbar-track,
    #id_cities::-webkit-scrollbar-track {
        background: grey;
    }
    
    #id_architects::-webkit-scrollbar-thumb,
    #id_developers::-webkit-scrollbar-thumb,
    #id_years::-webkit-scrollbar-thumb,
    #id_cities::-webkit-scrollbar-thumb {
        background-color: lightgray;
        border-radius: 5px;
        border: 3px solid grey;
    }
    .dropdown-content {
        position: absolute;
        z-index: 99;
    }
    .fa-trash-alt {
        margin-left:1rem;
        color: $text;
    }
    .filter-icon {
        border-color: rgb(219, 219, 219);
    }
    button.filter-on, .filter-icon:focus {
        box-shadow: $card-shadow;
    }
    .has-filter-set, .dropdown-trigger > .is-active {
        color: $blue;
    }
    .filter-label {
        font-weight: bold;
    }
    .select select{
        font-size: 0.9em;
    }
    input[type="checkbox"] {
        vertical-align: text-top;
    }
    .is-small.input, .is-small.textarea {
        border-radius: 5px;
    }

    @media screen and (max-width: 840px) {
        .filter-icon {
            margin-left: 0.75rem;
        }
        .form-filter {
            margin-left: 2rem;
        }
        .reverse-column-order {
            display: flex;
            flex-direction: column-reverse;
        }
    }
}

.people, .facts {
    .rich-text {
        margin: 2rem 0;
    }
}

.facts {
    .menu-list li {
        margin-top: 0.6rem;
    }
    .facts-content {
        display: none;
    }
    .is-card-equal-height {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .fact-dropdown-link {
         padding-top: 1rem;
    }
    .show {
        display: block;
    }
    .fact-modal {
        z-index: 999;
    }
    .fact-card {
        cursor: pointer;
    }
    .modal-card-body {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}
.people-index, .facts {
    .is-small.input, .is-small.textarea {
        border-radius: 5px;
    }
    .button.is-small {
        border-radius: 5px;
    }
}

.places {
    #mapid { height: 80vh; }
    .leaflet-top {
        z-index: 950;
    }
    .leaflet-container{
        border-radius: $border-radius;
    }
}

footer {
    font-family: $righteous;
    a {
        color: $white;
    }
    a:hover {
            color: $yellow;
    }
    .disclaimer {
        font-size: 0.8rem;
        font-family: $roboto;
    }
    .active {
        color: $grey-darker;
    }
}