@charset "utf-8";
@import "../../../node_modules/bulma/sass/utilities/initial-variables";

/* righteous-regular - latin */
@font-face {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/righteous-v8-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Righteous'), local('Righteous-Regular'),
         url('../fonts/righteous-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/righteous-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/righteous-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/righteous-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/righteous-v8-latin-regular.svg#Righteous') format('svg'); /* Legacy iOS */
}

/* roboto-regular - latin-ext_latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v20-latin-ext_latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local('Roboto'), local('Roboto-Regular'),
         url('../fonts/roboto-v20-latin-ext_latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v20-latin-ext_latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v20-latin-ext_latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v20-latin-ext_latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v20-latin-ext_latin_cyrillic-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

$tablet: 767px;

$roboto: "Roboto";
$righteous: "Righteous";

$yellow: rgb(255,255,0);
$blue: rgb(0,0,255);
$red: rgb(255,0,0);

$text: $grey;
$link: $black;
$border-radius: 10px;
$family-sans-serif: $roboto;
$navbar-item-img-max-height: 3rem;
$navbar-background-color: black;
$navbar-item-color: $white;
$navbar-item-active-color: $grey-dark;
$navbar-item-hover-color: $yellow;
$navbar-item-hover-background-color: transparent;
$footer-background-color: $black;
$footer-padding: 2rem 1.5rem 1.5rem;

@import "../../../node_modules/bulma/bulma";

.navbar {
    font-family: $righteous;
}

.breadcrumb li + li::before {
    padding-right: 0.75em;
}

.buildings, .building, .architects, .architect, .knowledge {
    .section {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
}

img {
    border-radius: $border-radius;
}

.card {
    border-radius: $border-radius;
    overflow: hidden;
    .card-content {
        padding: 0.8rem;
    }
    .card-image {
        overflow: hidden;
    }
    .image {
        transition: transform 0.7s ease;
    }
    .image img {
        border-radius: 0;
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
    }
    .image:hover {
        transform: scale(1.08);
    }
}

.home {
    &.has-navbar-fixed-top {
        padding-top: 0;
    }
    nav.navbar {
        background-color: transparent;
        .navbar-menu.is-active {
            color: $white;
            background-color: $black;
        }
        @include from($desktop) {
            background-color: rgba($black, 0.4);
        }
    }
    h1, h2 {
        font-family: $righteous;
        color: $black;
    }
    .hero {
        background: url(../img/BirgitBoellinger@Pixabay.jpg);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        .content {
            background-color: rgba($yellow, 0.5);
            padding: 2rem;
            border-radius: $border-radius;
        }
    }
}

.building {
    .building-address {
        margin-top: 2rem;
    }
}

footer {
    font-family: $righteous;
    a {
        color: $white;
    }
    .disclaimer {
        font-size: 0.8rem;
        font-family: $roboto;
    }
}