{% load navigation_tags wagtailcore_tags %}


{% for menuitem in menuitems %}
    <a class="navbar-item is-uppercase {% if menuitem.active %} is-active{% endif %}" href="{% pageurl menuitem %}">
        {{ menuitem.title }}
    </a>
{% endfor %}
    <a class="navbar-item" href="https://www.instagram.com/modernism_in_architecture/" target="_blank"
        rel="noreferrer noopener"><ion-icon name="logo-instagram" class="is-size-4"></ion-icon></a>
    <a class="navbar-item" href="https://github.com/normade/modernism/" target="_blank" rel="noreferrer noopener"><ion-icon name="logo-github" class="is-size-4"></ion-icon></a>