<footer class="footer">
  <div class="content has-text-centered">
    <p>Imprint | Data Privacy</p>
    <div class="columns is-mobile is-centered">
      <div class="column is-narrow">
        <a class="" href="">
          <i class="fab fa-instagram is-size-4"></i>
        </a>
      </div>
      <div class="column is-narrow">
        <a class="" href="">
          <i class="fab fa-github is-size-4"></i>
        </a>
      </div>
    </div>
    <p>Modernism in Architecture, 2020</p>
    <p>made with <3, Wagtail & Bulma</p>
  </div>
</footer>