<footer class="footer">
  <div class="content has-text-centered">
    <div class="columns is-mobile is-centered">
      <div class="column is-narrow">
        <a class="" href="">
          About
        </a>
      </div>
      <div class="column is-narrow">
        <a class="" href="">
          Imprint
        </a>
      </div>
      <div class="column is-narrow">
        <a class="" href="">
          Data Privacy
        </a>
      </div>
    </div>
    <div class="columns is-mobile is-centered">
      <div class="column is-narrow">
        <a class="" href="https://www.instagram.com/modernism_in_architecture/" target="_blank"
          rel="noreferrer noopener">
          <i class="fab fa-instagram is-size-4"></i>
        </a>
      </div>
      <div class="column is-narrow">
        <a class="" href="https://github.com/normade/modernism/" target="_blank" rel="noreferrer noopener">
          <i class="fab fa-github is-size-4"></i>
        </a>
      </div>
    </div>
    <p>Modernism in Architecture, 2020</p>
    <p>made with Love, <a href="https://bulma.io" target="_blank" rel="noreferrer noopener">Wagtail</a> & <a
        href="https://bulma.io" target="_blank" rel="noreferrer noopener">Bulma</a></p>
  </div>
</footer>