<footer class="footer">
  <div class="content has-text-centered">
    <div class="columns is-mobile is-centered">
      <div class="column is-narrow">
        <a class="{% if request.resolver_match.view_name == 'intro'%}active{% endif %}" href="{% url 'intro' %}">
          Intro
        </a>
      </div>
      <div class="column is-narrow">
        <a class="{% if request.resolver_match.view_name == 'about'%}active{% endif %}" href="{% url 'about' %}">
          About
        </a>
      </div>
      <div class="column is-narrow">
        <a class="{% if request.resolver_match.view_name == 'legal'%}active{% endif %}" href="{% url 'legal' %}">
          Legal info
        </a>
      </div>
      <div class="column is-narrow">
        <a class="{% if request.resolver_match.view_name == 'privacy'%}active{% endif %}" href="{% url 'privacy' %}">
          Privacy Policy
        </a>
      </div>
    </div>
    <div class="columns is-mobile is-centered">
      <div class="column is-narrow">
        <a href="https://www.instagram.com/modernism_in_architecture/" target="_blank" rel="noreferrer noopener">
          <ion-icon name="logo-instagram" class="is-size-4"></ion-icon>
        </a>
      </div>
      <div class="column is-narrow">
        <a href="https://github.com/Modernism-in-Architecture" target="_blank" rel="noreferrer noopener">
          <ion-icon name="logo-github" class="is-size-4"></ion-icon>
        </a>
      </div>
    </div>
    <p>Modernism in Architecture, {% now "Y" %}</p>
    <p class="disclaimer">made with love, <a href="https://djangoproject.com/" target="_blank" rel="noreferrer noopener">Django</a>
      & <a href="https://bulma.io" target="_blank" rel="noreferrer noopener">bulma</a></p>
  </div>
</footer>