{% load navigation_tags static wagtailcore_tags %}
{% get_site_root as site_root %}

<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="{% pageurl site_root %}">
        <img src="{% static 'img/mia-logo_square.png' %}">
      </a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarTop">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarTop" class="navbar-menu">
      <div class="navbar-start">
        {% main_menu parent=site_root calling_page=self %}
      </div>
      <div class="navbar-end">
        <a class="navbar-item" href="">MAP</a>
        <a class="navbar-item" href=""><i class="fa fa-search"></i></a>
        <a class="navbar-item" href="https://www.instagram.com/modernism_in_architecture/" target="_blank"
          rel="noreferrer noopener"><i class="fab fa-instagram"></i></a>
        <a class="navbar-item" href="https://github.com/normade/modernism/" target="_blank" rel="noreferrer noopener"><i
            class="fab fa-github"></i></a>
      </div>
    </div>
  </div>
</nav>