{% extends "mia_general/base.html" %}

{% load static %}

{% block extra_head_tags %}
    <title>Modernism in Architecture (MIA) - About the project</title>
    <meta name="description" property="og:description" content="About the Modernism in Architecture project, its founders and supporters.">
    <meta name="keywords" content="Frank Dietze, Norma Driske, osthorizonte">

    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:title" content="Modernism in Architecture (MIA) - About the project" />
    <meta property="og:image" content="https://modernism-in-architecture.org/static/img/mia-logo_square.fc43caad2f32.png" />
    <meta property="og:image:alt" content="Three letters of the logo: red M, blue I, yellow A" />
    <meta name="twitter:card" value="summary">
{% endblock %}

{% block body_class %}about{% endblock %}

{% block breadcrumbs %}
    <section class="breadcrumbs-section">
        <div class="container">
            <nav class="breadcrumb has-bullet-separator is-right is-small" aria-label="breadcrumbs">
                <ul>
                    <li>
                        <a href="{% url 'main' %}">
                            <span class="hidden" aria-hidden="false">Home</span>
                        </a>
                    </li>
                    <li>
                        <a class="inactive" href="{% url 'about' %}" aria-level="2">
                            About
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>
{% endblock breadcrumbs %}

{% block content %}
    <section class="last-section mt-3 mb-6 pl-5 pr-5">  
        <div class="container">
            <h1 class="is-size-3">About the project Modernism in Architecture (MIA)</h1>
            <div class="columns">
                <div class="column">
                    <div class="content is-size-5">
                        <h2 class="is-size-4 mt-5">👋 Hello, nice to meet you.</h2>
                        <p>
                            We are <a href="https://osthorizonte.com" target="_blank" rel="noreferrer noopener">Frank Dietze</a> and <a href="https://normade.dev" target="_blank" rel="noreferrer noopener">Norma Driske</a> from Leipzig, Germany. 
                            Two friends with a passion for an <strong>architectural style</strong> called <strong>Modernism in architecture</strong>. 
                            A style that emerged in the interwar-period between the 1920s and 1940s.
                        </p>
                        <img alt="Norma Driske" class="richtext-image full-width" src="https://modernism.s3.amazonaws.com/images/norma.width-800.jpg" width="800" height="1066">
                        <img alt="Frank Dietze, Osthorizonte" class="richtext-image full-width" src="https://modernism.s3.amazonaws.com/images/frank-dietze.width-800.jpg" width="800" height="1066">
                        <p>
                            For quite a while it had been the regular habit that Norma (being a programmer with almost no knowledge of architecture beyond that of software) kept asking 
                            Frank (being an art historian and professional tour leader with all the knowledge of 
                            architecture except that of software) about <strong>facts and contexts of places and modernist buildings</strong> we visited during our trips and walks. And Frank always had the good answers that Norma 
                            unfortunately couldn’t remember for long ;-) 
                        </p>
                        
                        <p>So we came up with the idea to <strong>merge our skills and persist the knowledge</strong> of Frank in a medium Norma can build and that can be 
                            visited again and again... <br><strong>MIA - modernism-in-architecture.org</strong> was born and we collect on this page our pics and knowledge for everyone out there who shares our 
                            passion for this interesting architectural period (and for those who have a memory lack like Norma).
                        </p>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <div class="content is-size-5">
                        <h2 class="is-size-4">MIA Content Supporters</h2>
                        <p>
                           We are supported by lovely people who donate some time shooting pics during their travels, a big thank you goes out to:

                           <ul>
                            {% for photographer in photographers %}
                                <li>{{ photographer.first_name }} {{ photographer.last_name }}</li>
                            {% endfor %}
                            </ul>
                        </p>
                        <p>And last but not least thanks to all the friendly people we meet during visiting MIA places who help and support us by sharing knowledge, opening doors and connecting us to other people.</p>

                        <h2 class="is-size-4">MIA Tech Supporters</h2>
                        <p>
                            This web project is kept open source on <a href="https://github.com/Modernism-in-Architecture" target="_blank" rel="noreferrer noopener">GitHub</a>.
                            A huge thanks goes out to <a href="https://kristin-fritsch.de/" target="_blank" rel="noreferrer noopener">Kristin (Krissi) Fritsch</a> for helping with tricky frontend tasks 🙌, to
                            <a href="https://hau-rock.de/elisa/" target="_blank" rel="noreferrer noopener">Elisa (Elli) Haubert</a> with her always open ear for design questions and for layouting our first MIA postcard 😍 and to
                            <a href="https://soeren-kirchner.dev" target="_blank" rel="noreferrer noopener">Sören Kirchner</a> 🤗 who very patiently listens to Norma's (dev) issues and who created as well as pushes the idea of MIA mobile apps for iOS and Android.
                        </p>
                        
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <div class="content is-size-5">
                        <h2 class="is-size-4">MIA Contact</h2>
                        <p>
                            If you have questions, any additions, you know about some interesting places we should feature or just want to say hi, 
                            <a href="mailto:hello@modernism-in-architecture.org">please get in touch</a>. You find us on <a href="https://www.instagram.com/modernism_in_architecture/" target="_blank" rel="noreferrer noopener">instagram</a> and 
                            <a href="https://twitter.com/MIA_buildings" target="_blank" rel="noreferrer noopener">twitter</a> too.
                        </p>
                        <p>
                            If you are interested in <strong>a guided tour to one of the MIA places</strong>, please <a href="https://osthorizonte.com" target="_blank" rel="noreferrer noopener">contact Frank on osthorizonte.com</a>. 
                            He is happy to visit them together with you.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}