{% extends "base.html" %}

{% load navigation_tags static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}buildings{% endblock %}

{% block breadcrumbs %}
<section class="breadcrumbs-section">
  <div class="container">
    {% breadcrumbs %}
  </div>
</section>
{% endblock breadcrumbs %}

{% block content %}
<section class="section last-section">
  <div class="container">
    {% with selected_architect_id=request.GET.architect selected_tag=request.GET.tag %}
    <div class="columns">
      <div class="column is-narrow">
        <aside class="menu">
          {% if selected_tag or selected_architect_id %}
          <p class="menu-label"><a href="{% pageurl page %}"><i class="fa fa-times"></i> Clear filters</a></p>
          {% endif %}
          <p class="menu-label">
            Filter by
          </p>
          <ul class="menu-list">

            <li><a class="dropdown-link filter-category">Architects <i class="fas fa-chevron-down"></i></a>
              <ul class="link-content">
                {% for architect in architects %}
                <li>
                  <a class="item {% if selected_architect_id == architect.id|stringformat:'s' %}active{% endif %}"
                    href="{% pageurl page %}?architect={{architect.id}}">
                    #{{architect.last_name}}{% if architect.first_name %},{{architect.first_name}}{% endif %}
                  </a>
                </li>
                {% endfor %}
              </ul>
            </li>

            <li><a class="dropdown-link filter-category">Building Type <i class="fas fa-chevron-down"></i></a>
              <ul class="link-content">
                {% for type in types %}
                <li><a class="item {% if selected_tag == type.name %}active{% endif %}"
                    href="{% pageurl page %}?tag={{type.name}}">#{{type.name}}</a></li>
                {% endfor %}
              </ul>
            </li>

            <li><a class="dropdown-link filter-category">Year <i class="fas fa-chevron-down"></i></a>
              <ul class="link-content">
                {% for year in years %}
                <li><a class="item {% if selected_tag == year %}active{% endif %}"
                    href="{% pageurl page %}?tag={{year}}">#{{year}}</a></li>
                {% endfor %}
              </ul>
            </li>

            {% for country in countries %}
            <li><a class="dropdown-link filter-category">{{country.country.name}}
                <i class="fas fa-chevron-down"></i></a>
              <ul class="link-content">
                <li><a class="item {% if selected_tag == country.country.name %}active{% endif %}"
                    href="{% pageurl page %}?tag={{country.country.name}}">All places</a></li>
                {% for city in country.cities.all %}
                <li><a class="item {% if selected_tag == city.name %}active{% endif %}"
                    href="{% pageurl page %}?tag={{city.name}}">#{{city.name}}</a></li>
                {% endfor %}
              </ul>
            </li>
            {% endfor %}

          </ul>
        </aside>
      </div>
      <div class="column">
        <div class="content">
          {% with country=buildings.first.country city=buildings.first.city %}
          {% if selected_tag == country.country.name %}
          <h2>{{country.country.name}}</h2>
          {{country.description|richtext}}
          {% endif %}
          {% if selected_tag == city.name %}
          <h2>{{city.name}}</h2>
          {{city.description|richtext}}
          {% endif %}
          {% if selected_tag and selected_tag != city.name and selected_tag != country.country.name %}
          <h2>{{selected_tag}}</h2>
          {% endif %}
          {% endwith %}
          {% if active_architect %}
          <h2>{{active_architect}}</h2>
          {% endif %}
          <div class="columns is-multiline is-centered">
            {% include "buildings/buildings_list_page.html" %}
          </div>
        </div>
      </div>
    </div>
    {% endwith %}
  </div>
</section>
{% endblock content %}
{% block extra_js %}
{{ block.super }}
<script src="https://code.jquery.com/jquery-latest.js"></script>
<script src="{% static 'el-pagination/js/el-pagination.js' %}"></script>
<script>
  $.endlessPaginate({
    paginateOnScroll: true,
    paginateOnScrollMargin: 250
  });
</script>
{% endblock %}