{% load el_pagination_tags static wagtailcore_tags wagtailimages_tags %}

{% lazy_paginate 8 buildings %}


<div class="columns is-multiline is-centered m-5">
    {% for building in buildings %}
        <div class="column is-4-tablet is-3-desktop">
            <a href="{% pageurl building %}" alt="{{building.title}}" class="card-title">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-marginless is-square">
                            {% image building.feed_image fill-500x500-c100 %}
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h5 class="is-marginless">
                                {{building.title}}<br>
                            </h5>
                            {% for tag in building.teaser_tags %}
                                #{{tag}}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
</div>

<div class="has-text-centered">
{% show_more %}
</div>