{% extends "base.html" %}

{% load navigation_tags static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}building{% endblock %}

{% block breadcrumbs %}
<section class="breadcrumbs-section">
  <div class="container">
    {% breadcrumbs %}
  </div>
</section>
{% endblock breadcrumbs %}

{% block content %}
<section class="section last-section">
  <div class="container">
    <div class="columns is-centered reverse-column-order">
      <div class="column is-5-desktop">
        {% image page.feed_image fill-600x400 %}
        <p>
          {% for tag in page.get_tags %}
          <a href="{% slugurl 'buildings' %}?tag={{ tag }}"> #{{tag}} </a>
          {% endfor %}
        </p>
      </div>
      <div class="column is-5-desktop">
        <div class="content">
          <h1>
            {{page.title}}{% if page.year_of_construction %} ({{page.year_of_construction}}){% endif %}
          </h1>
          <p class="building-address">{{page.address}}<br>{{page.zip_code}} {{page.city}}, {{page.country}}
          <p><i class="fa fa-map-marker-alt"></i> {{page.lat_long}}</p>
          {% if page.architects.count > 0 %}
          <h4 class="people">Architects</h4>
          <p>
            {% for architect in page.architects.all %}
            <a href="{% pageurl architect.architect %}" alt="{{architect.architect}}">
              {{architect.architect}}</a>{% if not forloop.last %},{% endif %}
            {% endfor %}
          </p>
          {% endif %}
          {% if page.developers.count > 0 %}
          <h4 class="people">Developers</h4>
          <p>
            {% for developer in page.developers.all %}
            <a href="{% pageurl developer.developer %}"
              alt="{{developer.developer.first_name}} {{developer.developer.last_name}}">
              {{developer.developer.first_name}} {{developer.developer.last_name}}
            </a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
          </p>
          {% endif %}
          {% if page.owners.count > 0 %}
          <h4 class="people">Owners</h4>
          <p>
            {% for owner in page.owners.all %}
            <a href="{% pageurl owner.owner %}" alt="{{owner.owner.first_name}} {{owner.owner.last_name}}">
              {{owner.owner.first_name}} {{owner.owner.last_name}}
            </a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
          </p>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="columns is-centered">
      <div class="column is-10-desktop">
        <div class="content">
          {% if page.todays_use %}
          <p><strong>Today's use:</strong> {{page.todays_use}}</p>
          {% endif %}
          {% if page.access_type %}
          <p><strong>Access:</strong> {{page.access_type}}</p>
          {% endif %}
          {% if page.directions %}
          <p><strong>Public transport:</strong> {{page.directions}}</p>
          {% endif %}
          <div class="desription">{{page.description|richtext}}</div>
        </div>
      </div>
    </div>
    <div class="columns is-centered">
      <div class="column is-10-desktop">
        <div class="content">
          {% for gallery_image in page.gallery_images %}
          {% if gallery_image.block_type == 'image' %}
          {% image gallery_image.value.image max-1300x700 as large_img %}
          {% image gallery_image.value.image fill-150x150 as thumb_img %}
          <img src="{{ thumb_img.url }}" large-url="{{ large_img.url }}" index="{{ forloop.counter0 }}"
            class="preview-image" />
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
    <div id="image-modal" class="modal">
      <div class="modal-background"></div>
      <div class="modal-content has-text-centered">
        <button id="close-button" class="modal-close is-large" aria-label="close">CLOSE</button>
        <figure><img id="modal-image" src="" /></figure>
        <p id="image-description"></p>
        <p id="image-photographer"></p>
        <div class="image-nav-btn">
          <button id="btn-prev" class="button prev" onclick="setModalImage('prev')">&#10094;</button>
          <button id="btn-next" class="button next" onclick="setModalImage('next')">&#10095;</button>
        </div>
      </div>
    </div>
</section>
{% endblock content %}