{% extends "base.html" %}

{% load navigation_tags static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}building{% endblock %}

{% block breadcrumbs %}
<section class="breadcrumbs-section">
  <div class="container">
    {% breadcrumbs %}
  </div>
</section>
{% endblock breadcrumbs %}

{% block content %}
<section class="section last-section">
  <div class="container">
    <div class="columns is-centered reverse-column-order">
      <div class="column is-5-desktop">
        {% image page.feed_image width-600 %}
        <p>
          {% for tag in page.get_tags %}
          <a href="{% slugurl 'buildings' %}?tag={{ tag }}"> #{{tag}} </a>
          {% endfor %}
        </p>
      </div>
      <div class="column is-5-desktop">
        <div class="content">
          <h1>
            {{page.title}}{% if page.year_of_construction %} ({{page.year_of_construction}}){% endif %}
          </h1>
          <p class="building-address">{{page.address}}<br>{{page.zip_code}} {{page.city}}, {{page.country}}
          <p>
            <i class="fa fa-map-marker-alt"></i>
            {{page.lat_long}}</p>
          {% if architects %}
          <h4 class="people">Architects</h4>
          <p>
            {% for architect in architects %}
            <a href="{% pageurl architect %}" alt="{{architect.person.first_name}} {{architect.person.last_name}}">
              {{architect.person.first_name}} {{architect.person.last_name}}
            </a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
          </p>
          {% endif %}
          {% if developers %}
          <h4 class="people">Developers</h4>
          <p>
            {% for developer in developers %}
            <a href="{% pageurl developer %}" alt="{{developer.person.first_name}} {{developer.person.last_name}}">
              {{developer.person.first_name}} {{developer.person.last_name}}
            </a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
          </p>
          {% endif %}
          {% if owners %}
          <h4 class="people">Owners</h4>
          <p>
            {% for owner in owners %}
            <a href="{% pageurl owner %}" alt="{{owner.person.first_name}} {{owner.person.last_name}}">
              {{owner.person.first_name}} {{owner.person.last_name}}
            </a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
          </p>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="columns is-centered">
      <div class="column is-10-desktop">
        <div class="content">
          {{page.description|richtext}}
        </div>
      </div>
    </div>
    <div class="columns is-centered">
      <div class="column is-10-desktop">
        <div class="content">
          {% for gallery_image in page.gallery_images %}
          {% if gallery_image.block_type == 'image' %}
          {% image gallery_image.value.image fill-100x100 %}
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
</section>
{% endblock content %}