{% extends "base.html" %}

{% load navigation_tags static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}buildings{% endblock %}

{% block breadcrumbs %}
<section class="breadcrumbs-section">
  <div class="container">
    {% breadcrumbs %}
  </div>
</section>
{% endblock breadcrumbs %}

{% block content %}
<section class="section last-section">
  <div class="container">
    <div class="columns">
      <div class="column is-narrow">
        {% with selected_architect_id=request.GET.architect selected_tag=request.GET.tag %}
        <aside class="menu">
          {% if selected_tag or selected_architect_id %}
          <p class="menu-label"><a href="{% pageurl page %}"><i class="fa fa-times"></i> Clear filters</a></p>
          {% endif %}
          <p class="menu-label">
            Filter by
          </p>
          <ul class="menu-list">

            <li><a class="dropdown-link filter-category">Architects <i class="fas fa-chevron-down"></i></a>
              <ul class="link-content">
                {% for architect in architects %}
                <li>
                  <a class="item {% if selected_architect_id == architect.id|stringformat:'s' %}active{% endif %}"
                    href="{% pageurl page %}?architect={{architect.id}}">#{{architect.last_name}},
                    {{architect.first_name}}</a>
                </li>
                {% endfor %}
              </ul>
            </li>

            <li><a class="dropdown-link filter-category">Building Type <i class="fas fa-chevron-down"></i></a>
              <ul class="link-content">
                {% for type in types %}
                <li><a class="item {% if selected_tag == type.name %}active{% endif %}"
                    href="{% pageurl page %}?tag={{type.name}}">#{{type.name}}</a></li>
                {% endfor %}
              </ul>
            </li>

            <li><a class="dropdown-link filter-category">Year <i class="fas fa-chevron-down"></i></a>
              <ul class="link-content">
                {% for year in years %}
                <li><a class="item {% if selected_tag == year %}active{% endif %}"
                    href="{% pageurl page %}?tag={{year}}">#{{year}}</a></li>
                {% endfor %}
              </ul>
            </li>

            {% for country in countries %}
            <li><a class="dropdown-link filter-category">{{country.country.name}}
                <i class="fas fa-chevron-down"></i></a>
              <ul class="link-content">
                <li><a class="item {% if selected_tag == country.country.name %}active{% endif %}"
                    href="{% pageurl page %}?tag={{country.country.name}}">All places</a></li>
                {% for city in country.cities.all %}
                <li><a class="item {% if selected_tag == city.name %}active{% endif %}"
                    href="{% pageurl page %}?tag={{city.name}}">#{{city.name}}</a></li>
                {% endfor %}
              </ul>
            </li>
            {% endfor %}

          </ul>
        </aside>
        {% endwith %}
      </div>
      <div class="column">
        <div class="content">
          <div class="columns is-multiline is-centered">
            {% for building in buildings %}
            <div class="column column is-half-tablet is-one-third-desktop">
              <a href="{% pageurl building %}" alt="{{building.title}}">
                <div class="card">
                  <div class="card-image">
                    <figure class="image is-marginless is-square">
                      {% image building.feed_image fill-500x500-c100 %}
                    </figure>
                  </div>
                  <div class="card-content">
                    <div class="content">
                      <h5 class="is-marginless">{{building.title}}{% if building.architect %},
                        {{building.architect}}{% endif %}</h5>
                      {% for tag in building.get_tags %}
                      <a href="{% pageurl page %}?tag={{ tag }}"> #{{tag}} </a>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </a>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}