{% extends "base.html" %}
{% load navigation_tags static wagtailimages_tags wagtailcore_tags %}

{% block body_class %}facts{% endblock %}

{% block breadcrumbs %}
<section class="breadcrumbs-section">
  <div class="container">
    {% breadcrumbs %}
  </div>
</section>
{% endblock breadcrumbs %}
{% block content %}
{% if request.GET.tag %}
<section class="filter-section">
  <div class="container">
    <div class="content">
      <p class="is-centered is-size-7">Filtered by the tag #{{ request.GET.tag }}</p>
      <p><a class="button is-small" href="{% pageurl page %}">Remove filter</a></p>
    </div>
  </div>
</section>
{% endif %}
<section class="section last-section">
  <div class="container">
    <div class="content">
      <div class="columns is-multiline is-centered">
        {% for fact in facts %}
        <div class="column column is-half-tablet is-3-desktop">
          <div class="card">
            <div class="card-image">
              <figure class="image is-marginless is-square">
                {% image fact.image fill-200x200-c100 %}
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <h1 class="is-marginless">{{ fact.title }}</h1>
                {% for tag in fact.get_tags %}
                <a href="{% pageurl page %}?tag={{ tag }}">
                  #{{tag}}</a>
                {% endfor %}
                {{ fact.description|richtext }}
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endblock content %}