{% extends "base.html" %}
{% load navigation_tags static wagtailimages_tags wagtailcore_tags %}

{% block body_class %}people{% endblock %}

{% block breadcrumbs %}
<section class="breadcrumbs-section">
  <div class="container">
    {% breadcrumbs %}
  </div>
</section>
{% endblock breadcrumbs %}
{% block content %}
<section class="section last-section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-8-tablet is-5-desktop">
        <div class="content">
          <h1>{{page.person.first_name}} {{page.person.last_name}}</h1>
          <p>{% if page.person.birthday %}* {{page.person.birthday}} {% endif %}{% if page.person.place_of_birth %}
            {{page.person.place_of_birth}} {% endif %}<br>
            {% if page.person.day_of_death %}&#10013; {{page.person.day_of_death}}
            {% endif %}{% if page.person.place_of_death %}
            {{page.person.place_of_death}} {% endif %}</p>
          {% image page.image width-400 %}
          {{page.person.description|richtext}}
          {% for building in page.buildingpage_set.all %}
          <a href="{% pageurl building %}">{% image building.feed_image fill-100x100 %}</a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}