{% extends "base.html" %}
{% load navigation_tags static wagtailimages_tags wagtailcore_tags %}

{% block body_class %}people{% endblock %}

{% block breadcrumbs %}
<section class="breadcrumbs-section">
  <div class="container">
    {% breadcrumbs %}
  </div>
</section>
{% endblock breadcrumbs %}
{% block content %}
<section class="section last-section">
  <div class="container">
    <div class="columns">
      <div class="column is-8-tablet">
        <div class="content">
          <h1>{% if page.first_name %}{{page.first_name}} {% endif %}{{page.last_name}}</h1>
          <div class="columns">
            <div class="column">
                <div class="columns is-gapless">
                    {% if page.birthday %}
                        <div class="column is-1">
                            <i class="fas fa-star-of-life is-pulled-right mr-2"></i>
                        </div>
                    {% endif %}
                    {% if page.birthday %}
                        <div class="column">
                            {% if page.birth_year_known_only %}
                                {{page.birthday|date:"Y"}}
                            {% else %}
                                {{page.birthday}}
                            {% endif %}
                            {% if page.place_of_birth %}
                                in {{page.place_of_birth}}
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="column">
                <div class="columns is-gapless">
                    {% if page.day_of_death %}
                        <div class="column is-1">
                            <i class="fas fa-cross is-pulled-right mr-2"></i>
                        </div>
                    {% endif %}
                    
                    {% if page.day_of_death %}
                        <div class="column">
                            {% if page.death_year_known_only %}
                                {{page.day_of_death|date:"Y"}}
                            {% else %}
                                {{page.day_of_death}}
                            {% endif %}
                            {% if page.place_of_death %}
                                in {{page.place_of_death}}
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
          </div>

          <div class="card">
            <div class="card-content">
                {% image page.image width-400 %}
                {{page.description|richtext}}
            </div>
          </div>
          <div class="mt-5">
            {% if related_buildings %}
                <h2>Buildings</h2>
                <div class="columns is-multiline">
                    {% for building in related_buildings %}
                        {% if building.feed_image %}
                            <div class="column is-2-tablet">
                                <div class="preview-image">
                                    <a href="{% pageurl building %}">
                                        {% image building.feed_image fill-150x150 %}
                                    </a>
                                </div>
                                <p>{{building.city}}, {{building.country}}</p>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}