{% extends "base.html" %}
{% load navigation_tags static wagtailimages_tags wagtailcore_tags %}

{% block body_class %}people{% endblock %}

{% block breadcrumbs %}
<section class="breadcrumbs-section">
  <div class="container">
    {% breadcrumbs %}
  </div>
</section>
{% endblock breadcrumbs %}
{% block content %}
<section class="section last-section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-8-tablet is-5-desktop">
        <div class="content">
          <h1>{% if page.first_name %}{{page.first_name}} {% endif %}{{page.last_name}}</h1>
          <p>
            {% if page.birthday %}*
            {% if page.birth_year_known_only %}
            {{page.birthday|date:"Y"}}
            {% else %}
            {{page.birthday}}
            {% endif %}
            {% endif %}
            {% if page.place_of_birth %}
            in {{page.place_of_birth}}
            {% endif %}<br>
            {% if page.day_of_death %} &#10015;
            {% if page.death_year_known_only %}
            {{page.day_of_death|date:"Y"}}
            {% else %}
            {{page.day_of_death}}
            {% endif %}
            {% endif %}
            {% if page.place_of_death %}
            in {{page.place_of_death}}
            {% endif %}
          </p>
          {% image page.image width-400 %}
          {{page.description|richtext}}

          {% for building in related_buildings %}
            {% if building.feed_image %}
                <a href="{% pageurl building %}">{% image building.feed_image fill-100x100 %}</a>
            {% endif %}
          {% endfor %}

        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}