{% extends "mia_general/base.html" %}

{% load static %}

{% block extra_head_tags %}
    <title>Modernism in Architecture: An archive of modernist buildings and architects</title>
    <meta name="description" property="og:description" content="An archive of modernist buildings and architects in Europe and the world.">
    <meta name="keywords" content="modernism, modernist architecture, international style, Bauhaus, De Stijl, Razionalismo, Neues Bauen, interwar period">

    <meta name="apple-itunes-app" content="app-id=1609862283">

    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:title" content="Modernism in Architecture" />
    <meta property="og:image" content="https://modernism-in-architecture.org/static/img/mia-logo_square.fc43caad2f32.png" />
    <meta property="og:image:alt" content="Three letters of the logo: red M, blue I, yellow A" />
    <meta name="twitter:card" value="summary_large_image">
{% endblock %}

{% block body_class %}home{% endblock %}

{% block content %}

<section class="hero is-fullheight has-background-black">
    <div id="hero-img" class="hero is-fullheight"></div>
    <div class="centered">
        <div class="content is-flex is-flex-direction-column">
            <h1 class="is-size-1 has-text-centered"><span class="red">M</span>odernism <span class="blue">i</span>n <span class="yellow">A</span>rchitecture
            </h1>
            <h2 class="has-text-centered mt-1">An archive of modernist buildings and architects</h2>
            <a class="button is-size-5" href="{% url 'building-index-list' %}">Explore</a>
        </div>
    </div>
</section>
<section>
    <div class="content introduction is-size-5">
        <div class="columns">
            <div class="column">
                <h3 class="is-size-2">Made for Lovers of Modernism in Architecture</h3>
                <p>
                    We dedicate this archive to all who share our interest and passion for the architecture of the interwar period (1920s-1940s), its architects and stories. Enjoy!
                    Read more about us and the project <a class="has-text-weight-bold" href="{% url 'about' %}">here</a>.
                </p>
                <h3 class="is-size-2">Modernist Architecture</h3>
                <p>
                    This collection contains at the moment <a class="has-text-weight-bold" href="{% url 'building-index-list' %}">{{num_of_buildings}} modernist buildings</a>, 
                    <a class="has-text-weight-bold" href="{% url 'architect-index-list' %}">{{num_of_architects}} architects</a> and <a class="has-text-weight-bold" href="{% url 'developer-index-list' %}">{{num_of_developers}} developers</a> 
                    in several countries. 
                    The building selection is done by us on the base of certain criteria, <a href="{% url 'intro' %}">read which</a>.
                </p>
                <p>
                    Modernism in architecture is referred to by many names, depending on the region, language and context, e.g. Neues Bauen, Bauhaus, klassische Moderne, International Style,
                    De Stijl, Razionalismo, Avant-garde, Interwar-Style, Modernist Era and many more. If you are interested in facts and terms, visit our <a class="has-text-weight-bold" href="{% url 'fact-index-list' %}">facts collection</a>.
                </p>
                <p>
                    For a general overview: <a class="has-text-weight-bold" href="{% url 'map' %}">Our modernism map</a> keeps track of all archived places where you can find modernist buildings.
                </p>
                <h3 class="is-size-2">Modernism in Architecture on your mobile phone</h3>
                <p>
                    Explore all MIA buildings on your mobile phone whereever you are. Find buildings on the map near you if you travel and 
                    receive all information at a glance. Download your MIA app now!
                </p>
                <p>
                    <a href="https://apps.apple.com/de/app/modernism-in-architecture/id1609862283?l=en"  target="_blank" rel="noreferrer noopener">
                        <img class="store-link" src="{% static 'img/appstore_badge_black.svg' %}">
                    </a>
                    <a href="https://play.google.com/store/apps/details?id=org.modernism_in_architecture.mia" target="_blank" rel="noreferrer noopener">
                       <img class="store-link" src="{% static 'img/google-play-badge.png' %}">
                    </a>
                </p>
            </div>
        </div>
    </div>
</section>

{% endblock content %}

{% block extra_js %}
<script>
    const images = [
        "{% static 'img/BirgitBoellinger@Pixabay_1.jpg'%}",
        "{% static 'img/BirgitBoellinger@Pixabay_2.jpg'%}",
        "{% static 'img/BirgitBoellinger@Pixabay_3.jpg'%}"
    ];

    let heroImage = document.getElementById("hero-img");
    let imageIndex = 0;

    const change = () => {
        imageIndex = (imageIndex + 1) % images.length;
        heroImage.style['background-image'] = 'url(' + images[imageIndex] +')';
        heroImage.style['background-size'] = 'cover';
        heroImage.classList.add("fadeInAndOut");
    }

    change();
    setInterval(change, 8000);
</script>
{% endblock %}