{% extends "mia_general/base.html" %}

{% load static %}

{% block extra_head_tags %}
    <title>About the MIA project</title>
    <meta name="description" property="og:description" content="About the Modernism in Architecture project and its founders.">
    <meta name="keywords" content="Frank Dietze, Norma Driske, osthorizonte">

    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:title" content="About the MIA project" />
    <meta name="description" property="og:description" content="About the Modernism in Architecture project and its founders.">
    <meta property="og:image" content="https://modernism-in-architecture.org/static/img/mia-logo_square.fc43caad2f32.png" />
    <meta property="og:image:alt" content="Three letters of the logo: red M, blue I, yellow A" />
    <meta name="twitter:card" value="summary">
{% endblock %}

{% block body_class %}about{% endblock %}

{% block breadcrumbs %}
    <section class="breadcrumbs-section">
        <div class="container">
            <nav class="breadcrumb has-bullet-separator is-right is-small" aria-label="breadcrumbs">
                <ul>
                    <li>
                        <a href="{% url 'main' %}">
                            <span class="hidden" aria-hidden="false">Home</span>
                        </a>
                    </li>
                    <li>
                        <a class="inactive" href="{% url 'about' %}" aria-level="2">
                            About
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>
{% endblock breadcrumbs %}

{% block content %}
    <section class="section last-section">  
        <div class="container">
            <h1 class="is-size-3">About MIA</h1>
            <div class="columns">
                <div class="column">
                    <div class="content">
                        <p>Hello, nice to meet you.</p>
                        <p>We are Frank Dietze and Norma Driske from Leipzig, Germany. Two friends with a passion for an <b>architectural style</b> called<b> modernism in architecture</b> or <b>international style</b>. A style that emerged in the period between the two world wars (1918-1939).<br></p>
                        <p>For quite a while it had been the regular habit that <a href="https://normade.dev" target="_blank" rel="noreferrer noopener">Norma</a> (being a programmer with almost no knowledge of architecture beyond that of software) kept asking 
                        <a href="https://osthorizonte.com" target="_blank" rel="noreferrer noopener">Frank</a> (being an art historian and professional tour leader with all the knowledge of 
                        architecture except that of software) about facts and contexts of places and modernist buildings we visited during our trips and walks. And Frank always had the good answers that Norma 
                        unfortunately couldn’t remember for long ;-) So we came up with the idea to merge our skills and persist the knowledge of Frank in a medium Norma can build and that can be 
                        visited again and again...<br></p>
                        <img alt="norma.jpg" class="richtext-image full-width" src="https://modernism.s3.amazonaws.com/images/norma.width-800.jpg" width="800" height="1066">
                        <img alt="frank-dietze.jpg" class="richtext-image full-width" src="https://modernism.s3.amazonaws.com/images/frank-dietze.width-800.jpg" width="800" height="1066">
                        <p>So <b>modernism-in-architecture.org</b> <b>(MIA)</b> was born and we collect on this page our pics and knowledge for everyone out there who shares our 
                        passion for this interesting architectural period (and for those who have a memory lack like Norma).<br><br>
                        Recently our friend Martina from Prague joined us as a supporter and photographer. We are also supported by our partners Christina and Falko, and other friends who donate some time shooting pics during their travels.<br><br> 
                        If you have questions, any additions, you know about some interesting places we should feature or just want to say hi, 
                        <a href="mailto:hello@modernism-in-architecture.org">please get in touch</a>. You find us on <a href="https://www.instagram.com/modernism_in_architecture/" target="_blank" rel="noreferrer noopener">instagram</a> too. 
                        This web project is kept open source on <a href="https://github.com/normade/modernism/" target="_blank" rel="noreferrer noopener">GitHub</a>, contributions are very welcome.<br><br>
                        If you are interested in a <b>guided tour to one of the MIA places</b>, please <a href="https://osthorizonte.com" target="_blank" rel="noreferrer noopener">contact Frank on osthorizonte.com</a>. 
                        He is happy to visit them together with you.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}