{% extends "mia_general/base.html" %}

{% load static %}

{% block extra_head_tags %}
    <title>Modernism in Architecture</title>
    <meta name="description" property="og:description" content="An archive of modernist buildings and architects in Europe and the world.">
    <meta name="keywords" content="modernism, modernist architecture, international style, Bauhaus, De Stijl, Razionalismo, Neues Bauen, interwar period">

    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:title" content="Modernism in Architecture" />
    <meta name="description" property="og:description" content="An archive of modernist buildings and architects in Europe and the world.">
    <meta property="og:image" content="https://modernism-in-architecture.org/static/img/mia-logo_square.fc43caad2f32.png" />
    <meta property="og:image:alt" content="Three letters of the logo: red M, blue I, yellow A" />
    <meta name="twitter:card" value="summary">
{% endblock %}

{% block body_class %}home{% endblock %}

{% block content %}

<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="content has-text-centered">
        <h1><span class="red">M</span>odernism <span class="blue">i</span>n <span class="yellow">A</span>rchitecture
        </h1>
        <h3>"A modern, harmonic and lively architecture is the visible sign of an authentic
          democracy."<br><small><i>Walter Gropius </i></small></h3>
        <a class="button is-outlined is-rounded" href="{% url 'building-index-list' %}">Explore</a>
      </div>
    </div>
  </div>
</section>

{% endblock content %}