{% extends "mia_general/base.html" %}

{% load static %}

{% block body_class %}legal{% endblock %}

{% block breadcrumbs %}
    <section class="breadcrumbs-section">
        <div class="container">
            <nav class="breadcrumb has-bullet-separator is-right is-small" aria-label="breadcrumbs">
                <ul>
                    <li>
                        <a href="{% url 'main' %}">
                            <span class="hidden" aria-hidden="false">Home</span>
                        </a>
                    </li>
                    <li>
                        <a class="inactive" href="{% url 'legal' %}" aria-level="2">
                            Legal info
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>
{% endblock breadcrumbs %}

{% block content %}
    <section class="section last-section">  
        <div class="container">
            <h1 class="is-size-3">Legal info</h1>
            <div class="columns">
                <div class="column">
                    <div class="content">
                       <p>modernism-in-architecture.org is a non-profit community project.</p>
                        <p><strong>Contact</strong><br/>
                            Norma Driske<br/>
                            Engertstr. 18<br/>
                            04177 Leipzig<br/>
                            Germany<br/>

                            <a href="mailto:hello@modernism-in-architecture.org">hello@modernism-in-architecture.org</a></p>

                            <p>Please report bugs <a href="https://github.com/normade/modernism/issues" target="_blank" rel="noreferrer noopener">here</a> and feel free to get in touch for suggestions and improvements.<br/>
                            Source: <a href="https://github.com/normade/modernism" target="_blank" rel="noreferrer noopener">https://github.com/normade/modernism</a></p>

                            <p>This project is built with <a href="https://djangoproject.com/" target="_blank" rel="noreferrer">Django</a> and <a href="https://bulma.io/" target="_blank" rel="noreferrer noopener">BULMA</a>.<br/>
                            Frontpage image by: <a href="https://pixabay.com/de/users/bboellinger-4262159/" target="_blank" rel="noreferrer noopener">Birgit Böllinger on pixabay.com</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}