{% extends "mia_general/base.html" %}

{% load static %}

{% block extra_head_tags %}
    <title>Modernist archive world map</title>
    <meta name="description" property="og:description" content="Map view of all archived modernist buildings on MIA">
    <meta name="keywords" content="modernist buildings, modernist map">

    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:title" content="Modernist archive world map" />
    <meta property="og:image" content="https://modernism-in-architecture.org/static/img/mia-logo_square.fc43caad2f32.png" />
    <meta property="og:image:alt" content="Three letters of the logo: red M, blue I, yellow A" />
    <meta name="twitter:card" value="summary">
{% endblock %}

{% block body_class %}map{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/MarkerCluster.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/MarkerCluster.Default.css' %}">
    <script type="application/javascript">
        const mapBuildings = {{ buildings|safe }}
    </script>
{% endblock %}
{% block breadcrumbs %}
     <section class="breadcrumbs-section">
        <div class="container">
            <nav class="mia-breadcrumb breadcrumb has-bullet-separator is-small" aria-label="breadcrumbs">
                <nav>
                </nav>
                <nav>
                    <ul>
                        <li>
                            <a href="{% url 'main' %}">
                                <span class="hidden" aria-hidden="false">Home</span>
                            </a>
                        </li>
                        <li>
                            <a class="inactive" href="{% url 'map' %}" aria-level="2">
                                Map
                            </a>
                        </li>
                    </ul>
                </nav>
            </nav>
        </div>
    </section>
{% endblock breadcrumbs %}


{% block content %}
<section class="last-section mt-3 mb-5 pl-5 pr-5">
  <div class="container">
    <div class="content">
      <h1 class="has-text-centered has-text-left-desktop">Map of modernist buildings</h1>
      <div id="mapMia"></div>
    </div>
  </div>
</section>
{% endblock content %}

{% block extra_js %}
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="crossorigin=""></script>
    <script type="application/javascript" src="{% static 'lib/leaflet.markercluster.js' %}"></script>
    <script type="application/javascript" src="{% static 'lib/miaMap.js' %}"></script>
{% endblock %}