{% extends "base.html" %}
{% load navigation_tags static wagtailimages_tags wagtailcore_tags %}

{% block body_class %}facts{% endblock %}

{% block breadcrumbs %}
<section class="breadcrumbs-section">
  <div class="container">
    {% breadcrumbs %}
  </div>
</section>
{% endblock breadcrumbs %}
{% block content %}
<section class="section last-section">
  <div class="container">
    <div class="columns">
      <div class="column is-narrow">
        <aside class="menu">
          {% if request.GET.tag %}
          <p class="menu-label"><a href="{% pageurl page %}"><i class="fa fa-times"></i> Clear</a></p>
          {% endif %}
          <p class="menu-label">
            Categories
          </p>
          <ul class="menu-list">
            {% for category in categories %}
            <li><a class="item {% if request.GET.tag == category.category %}active{% endif %}"
                href="{% pageurl page %}?tag={{category.category}}">{{category.category}}</a></li>
            {% endfor %}
          </ul>
        </aside>
      </div>
      <div class="column">
        <div class="content">
          <div class="columns is-multiline is-centered">
            {% for fact in facts %}
                <div class="column is-half-tablet is-5-desktop">
                    <div class="card is-card-equal-height fact-card">
                        <div class="card-content">
                            <div class="content has-text-centered">
                                <div class="tags is-marginless">
                                    {% for tag in fact.get_tags %}
                                    <span class="tag">
                                        {{tag|lower}}</span>
                                    {% endfor %}
                                </div>
                                <h5 class="is-marginless">{{ fact.title }}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="modal fact-modal">
                        <div class="modal-background"></div>
                        <div class="modal-card">
                            <header class="modal-card-head">
                                <p class="modal-card-title"></p>
                                <button class="delete close-button" aria-label="close"></button>
                            </header>
                            <section class="modal-card-body">
                                {% if fact.description %}
                                    <h5>{{ fact.title }}</h5>
                                    <div>{{ fact.description|richtext }}</div>
                                {% endif %}  
                            </section>
                        </div>
                    </div>
                </div>
            {% endfor %}
          </div>
        </div>
      </div>
</section>
{% endblock content %}

{% block extra_js %}
    {{ block.super }}
    <script type="application/javascript" src="{% static 'lib/factsPage.js' %}"></script>
{% endblock %}