{% extends "base.html" %}
{% load navigation_tags static wagtailimages_tags wagtailcore_tags %}

{% block body_class %}facts{% endblock %}

{% block breadcrumbs %}
<section class="breadcrumbs-section">
  <div class="container">
    {% breadcrumbs %}
  </div>
</section>
{% endblock breadcrumbs %}
{% block content %}
<section class="section last-section">
  <div class="container">
    <div class="columns">
      <div class="column is-narrow">
        <aside class="menu">
          {% if request.GET.tag %}
          <p class="menu-label"><a href="{% pageurl page %}"><i class="fa fa-times"></i> Clear filters</a></p>
          {% endif %}
          <p class="menu-label">
            Filter by
          </p>
          <ul class="menu-list">
            {% for category in categories %}
            <li><a class="item {% if request.GET.tag == category.category %}active{% endif %}"
                href="{% pageurl page %}?tag={{category.category}}">{{category.category}}</a></li>
            {% endfor %}
          </ul>
        </aside>
      </div>
      <div class="column">
        <div class="content">
          <div class="columns is-multiline is-centered">
            {% for fact in facts %}
            <div class="column column is-half-tablet is-3-desktop">
              <div class="card">
                {% if fact.image %}
                <div class="card-image">
                  <figure class="image is-marginless is-square">
                    {% image fact.image fill-200x200-c100 %}
                  </figure>
                </div>
                {% endif %}
                <div class="card-content">
                  <div class="content">
                    <h5 class="is-marginless">{{ fact.title }}</h5>
                    {% for tag in fact.get_tags %}
                    <a href="{% pageurl page %}?tag={{ tag }}">
                      #{{tag}}</a>
                    {% endfor %}
                    <br>
                    {% if fact.description %}
                    <div class="has-text-centered fact-dropdown-link">
                      <a><i class="fas fa-chevron-down"></i></a>
                    </div>
                    <div class="facts-content">{{ fact.description|richtext }}</div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
</section>
{% endblock content %}