{% extends "mia_general/base.html" %}

{% load static thumbnail %}

{% block body_class %}fact{% endblock %}

{% block breadcrumbs %}
    <section class="breadcrumbs-section">
        <div class="container">
            <nav class="mia-breadcrumb breadcrumb has-bullet-separator is-small" aria-label="breadcrumbs">
                <nav>
                    <ul>
                        <li>
                            <a href="{% url 'fact-index-list' %}" aria-level="2">
                                <ion-icon name="return-up-back-outline" class="mr-1"></ion-icon>back
                            </a>
                        </li>
                    </ul>
                </nav>
                <nav>
                    <ul>
                        <li>
                            <a href="{% url 'main' %}">
                                <span class="hidden" aria-hidden="false">Home</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'fact-index-list' %}" aria-level="2">
                                Facts
                            </a>
                        </li>
                        <li>
                            <a class="inactive" href="{% url 'fact-details' fact.slug %}" aria-level="2">
                                {{fact.title|truncatechars:20}}
                            </a>
                        </li>
                    </ul>
                </nav>
            </nav>
        </div>
    </section>
{% endblock breadcrumbs %}

{% block content %}
    <section class="section last-section">
        <div class="container">
            <h1 class="is-size-3">{{fact.title}}</h1>
            
            <div class="columns">
                <div class="column">
                    <div class="content">
                        {% comment %} <a class="is-hidden-touch" href="{% url 'fact-index-list' %}" aria-level="2">
                            <ion-icon name="return-up-back-outline"></ion-icon> overview
                        </a> {% endcomment %}
                        <p>{% for tag in fact.categories.all %} <span class="tag">{{tag.name|lower}}</span>{% endfor %}</p>
                        <div class="columns">
                            <div class="column">
                                <div class="card">
                                    <div class="card-content">
                                        {% if fact.description %}
                                            {{fact.description|safe}}
                                         {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column">
                            {% for image in fact.factimage_set.all %}
                                <div class="fact-image">
                                    <img src="{{ image.image|thumbnail_url:'feed' }}">
                                </div>
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
