{% extends "mia_general/base.html" %}

{% block body_class %}template-404{% endblock %}

{% block content %}
    <section class="section last-section">
        <div class="container">
            <h1 class="is-size-3">Page not found</h1>
            <div class="columns">
                <div class="column">
                    <div class="content">
                        <p>Ups, we are sorry. Please try another page.</p>
                       
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
