{% load static wagtailuserbar %}
{% load wagtailcore_tags %}
{% load static %}

<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <title>
        {% block title %}
        {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
        {% endblock %}
        {% block title_suffix %}
        {% with self.get_site.site_name as site_name %}
        {% if site_name %}- {{ site_name }}{% endif %}
        {% endwith %}
        {% endblock %}
    </title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet" />

    {# Global stylesheets #}
    <link rel="stylesheet" type="text/css" href="{% static 'css/modernism.css' %}" />

    {% block extra_css %}
    {# Override this in templates to add extra stylesheets #}
    {% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">
    {% wagtailuserbar %}
    <header>
        <nav>
            <div class="navigation-logo">
                <img src="{% static 'img/mia-1.png' %}" alt="MIA Logo" />
            </div>
            <div class="navigation-menu-desktop">
                <ul>
                    <li><a href="{% slugurl 'building-index' %}">BUILDINGS</a></li>
                    <li><a href="{% slugurl 'architect-index' %}">ARCHITECTS</a></li>
                    <li><a href="{% slugurl knowledge_page %}">KNOWLEDGE</a></li>
                    <li><a href="{% slugurl map_page %}">MAP</a></li>
                </ul>
            </div>
            <div class="navigation-menu-mobile-collapsed">
                <button class="navigation-button" id="expand-mobile-navigation">
                    <i class="fas fa-bars"></i>
                </button>
            </div>
            <div class="navigation-menu-mobile">
                <button class="navigation-button" id="collapse-mobile-navigation">
                    <i class="fa fa-angle-right"></i>
                </button>
                <ul>
                    <li><a href="{% slugurl 'building-index' %}">BUILDINGS</a></li>
                    <li><a href="{% slugurl 'architect-index' %}">ARCHITECTS</a></li>
                    <li><a href="{% slugurl knowledge_page %}">KNOWLEDGE</a></li>
                    <li><a href="{% slugurl map_page %}">MAP</a></li>
                </ul>
            </div>
            <div class="navigation-search-insta">
                <div class="navigation-instagram"><i class="fab fa-instagram"></i></div>
                <div class="navigation-search"><i class="fas fa-search"></i></div>
            </div>
        </nav>
    </header>

    {% block content %}{% endblock %}

    <footer>
        <div class="footer-inner-container">
            <div class="footer-copyright">
                <p>Copyright © 2020 All Rights Reserved</p>
            </div>
            <div class="footer-links">
                <ul>
                    <li>
                        <a href="#" target="_blank">Impressum</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    {# Global javascript #}
    <script type="text/javascript" src="{% static 'js/modernism.js' %}"></script>

    {% block extra_js %}
    {# Override this in templates to add extra javascript #}
    {% endblock %}
</body>

</html>