{% extends "mia_general/base.html" %}

{% load static %}

{% block extra_head_tags %}
    <title>Facts about modernist architecture</title>
    <meta name="description" property="og:description" content="A modernist knowledge archive: A collection of facts about modernist architecture, theories and concepts.">
    <meta name="keywords" content="Bauhaus-Ausstellung, Cinq points de l'architecture moderne, Werkbund, Congrès International d'Architecture Moderne (CIAM), Bauhaus, Neues Bauen, Modernism, Razionalismo">

    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:title" content="Facts about modernist architecture" />
    <meta property="og:image" content="https://modernism-in-architecture.org/static/img/mia-logo_square.fc43caad2f32.png" />
    <meta property="og:image:alt" content="Three letters of the logo: red M, blue I, yellow A" />
    <meta name="twitter:card" value="summary">

    <link rel="canonical" href="https://modernism-in-architecture.org/facts/" />
{% endblock %}

{% block body_class %}facts{% endblock %}

{% block breadcrumbs %}
    <section class="breadcrumbs-section">
        <div class="container">
            <nav class="mia-breadcrumb breadcrumb has-bullet-separator is-small" aria-label="breadcrumbs">
                <nav>
                    <ul>
                        <li>
                            <a href="{% url 'main' %}">
                                <span class="hidden" aria-hidden="false">Home</span>
                            </a>
                        </li>
                        <li>
                            <a class="inactive" href="{% url 'fact-index-list' %}" aria-level="2">
                                Facts
                            </a>
                        </li>
                    </ul>
                </nav>
            </nav>
        </div>
    </section>
{% endblock breadcrumbs %}

{% block content %}
    <section class="last-section mt-3 mb-5 pl-5 pr-5">
        <div class="container">
            <div class="content">
                <h1>Modernist knowledge archive</h1>
                <div class="columns">
                    <div class="column">
                        <p class="mb-4"> 
                            <a class="tag-link" href="{% url 'fact-index-list' %}"><span class="tag {% if not filter_tag %}active-tag{% endif %}">all</span></a>
                            {% for tag in categories %}
                                <a class="tag-link" href="{% url 'fact-index-list' %}?tag={{tag.name}}"><span class="tag {% if filter_tag == tag.name %}active-tag{% endif %}">{{tag.name|lower}}</span></a>
                            {% endfor %}
                        </p>
                    </div>
                    <div class="column">
                        <form action="" method="get" class="form-search">
                            {% csrf_token %}
                            <div class="field has-addons is-justify-content-flex-end">
                                <div class="control">
                                    <input type="text" class="input" name="q" placeholder="Search" title="Search for:">
                                </div>
                                <div class="control">
                                    <button class="button" type="submit" name="submit" id="searchsubmit" value="Search">
                                        <ion-icon name="search-outline"></ion-icon>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="columns">
                    <div class="column">
                        {% if search_term and facts %}
                            <p id="search-description">
                                You searched for: {{search_term}} <a href="{% url 'fact-index-list' %}"><ion-icon name="trash-outline"></ion-icon></a> 
                            </p>
                        {% endif %}
                        {% if not facts %}
                            <p class="mt-3">No results for this selection. Please try again. <a href="{% url 'fact-index-list' %}"><ion-icon name="trash-outline"></ion-icon></a></p>
                        {% endif %}
                    </div>
                </div>

                <div class="columns is-multiline">
                    {% for fact in facts %}
                        <div class="column is-half-tablet is-3-desktop">
                            <a class="fact-link" href="{% url 'fact-details' fact.slug %}" alt="{{fact.title}}">
                                <div class="card is-card-equal-height fact-card">
                                    <div class="card-content">
                                        <div class="content has-text-centered">
                                            <div class="tags is-marginless">
                                                {% for tag in fact.categories.all %}
                                                    <span class="tag">{{tag.name|lower}}</span>
                                                {% endfor %}
                                            </div>
                                            <h5 class="is-marginless">{{ fact.title }}</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock content %}