{% extends "admin/base_site.html" %}
{% load static thumbnail %}

{% comment %} js/vendor/select2/select2.full.js {% endcomment %}

{% block extrahead %} 
    {{ block.super }} 
    <script src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    <script src="{% static 'admin/js/vendor/select2/select2.full.js' %}"></script>
    <link href="{% static 'admin/css/vendor/select2/select2.css' %}" media="screen" rel="stylesheet">
    {{ form.media }}
    
    <script>
        $(document).ready(function() {
            $("#id_photographer").select2();
        });
    </script>
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">Home</a> › <a href="/admin/mia_buildings/">Mia_Buildings</a> › <a href="{% url 'admin:mia_buildings_buildingimage_changelist' %}">Building images</a> › {{ title }}
    </div>
{% endblock %}

{% block content %}
    <div id="content-main">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <fieldset class="module aligned">
                <div class="form-row">
                    <div class="form-row field-multiple-images">    
                        <div class="flex-container">
                            <label for="id_multiple_images">{{ form.multiple_images.label }}</label>
                            {{ form.multiple_images.errors }}
                            {{ form.multiple_images }}
                        </div>
                    </div>
                </div>
                <div class="form-row field-photographer">    
                    <div class="flex-container">
                        <label for="id_photographer">{{ form.photographer.label }}</label>
                        {{ form.photographer.errors }}
                        {{ form.photographer }}
                    </div>
                </div>
            </fieldset>
            <div class="submit-row">
                <input type="submit" value="Add new MIA images">
            </div>
        </form>
        
    </div>
{% endblock %}