{% extends "admin/base_site.html" %}
{% load static thumbnail %}


{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">Home</a> › <a href="/admin/mia_buildings/">Mia_Buildings</a> › <a href="{% url 'admin:mia_buildings_buildingimage_changelist' %}">Building images</a> › {{ title }}
    </div>
{% endblock %}

{% block content %}
    <div id="content-main">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
                {{ form.as_p }}
            <input type="submit" value="Add new MIA images">
        </form>
    </div>
{% endblock %}