{% extends "mia_general/base.html" %}

{% load static thumbnail %}

{% block extra_head_tags %}
    <title>{% if building.seo_title %}{{ building.seo_title }}{% else %}{{building.name}} in {{building.city}}, {{building.city.country}}{% endif %}</title>
    <meta name="description" property="og:description" content="{{building.name}} {% for architect in building.architects.all %}{% if forloop.first %}by {% endif %}{{architect}}{% if not forloop.last %}, {% endif %}{% endfor %}{% if building.year_of_construction %} {{building.year_of_construction}}{% endif %} in {{building.city}}">
    <meta name="keywords" content="{{building.city}}, {{building.city.country}}, {% for architect in building.architects.all %}{{architect}}{% if not forloop.last %}, {% endif %}{% endfor %}">

    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:title" content="{% if building.seo_title %}{{ building.seo_title }}{% else %}{{building.name}} in {{building.city}}, {{building.city.country}}{% endif %}" />
    <meta property="og:image" content="{{ building.feed_images.0.image|thumbnail_url:'twitter' }}" />
    <meta property="og:image:alt" content="Three letters of the logo: red M, blue I, yellow A" />
    <meta name="twitter:card" value="summary_large_image">
{% endblock %}

{% block body_class %}building{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/MarkerCluster.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/MarkerCluster.Default.css' %}">
    <script type="application/javascript">
        const buildingsOfTheCityData = {{ buildings_of_same_city|safe }};
        const buildingSlug = "{{ building.slug }}";
        const buildingLat = "{{ building.latitude }}";
        const buildingLong = "{{ building.longitude }}";
    </script>
{% endblock %}

{% block breadcrumbs %}
    <section class="breadcrumbs-section">
        <div class="container">
            <nav class="mia-breadcrumb breadcrumb has-bullet-separator is-small" aria-label="breadcrumbs">
                <nav>
                    <ul>
                        <li>
                            <a href="{% url 'building-index-list' %}" aria-level="2">
                                <ion-icon name="return-up-back-outline" class="mr-1"></ion-icon>back
                            </a>
                        </li>
                    </ul>
                </nav>
                <nav>
                    <ul>
                        <li>
                            <a href="{% url 'main' %}">
                                <span class="hidden" aria-hidden="false">Home</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'building-index-list' %}" aria-level="2">
                                Buildings
                            </a>
                        </li>
                        <li>
                            <a class="inactive" href="{% url 'building-details' building.slug %}" aria-level="2">
                                {{building.name|truncatechars:20}}
                            </a>
                        </li>
                    </ul>
                </nav>
            </nav>
        </div>
    </section>
{% endblock breadcrumbs %}

{% block content %}
    <section class="section last-section">
        <div class="container">
            <h1 class="is-size-3 mb-5">
                {{building.name}}{% if building.year_of_construction %} ({{building.year_of_construction}}){% endif %} {% if building.protected_monument %}<span class="has-tooltip-arrow" data-tooltip="Protected monument"><ion-icon name="shield-half-outline"></ion-icon></span>{% endif %}
            </h1>
            <div class="columns reverse-column-order">
                <div class="column is-4-desktop">
                    <div class="feed-image">
                        {% if building.feed_images %}
                            <img src="{{ building.feed_images.0.image|thumbnail_url:'square' }}" alt="Feed image of {{building.name}}">
                        {% endif %}
                    </div>
                    <p>
                        {% if building.building_types.all %}#{{building.building_types.first}}{% endif %} {% if building.city %}#{{building.city}}{% endif %} {% if building.country %}#{{building.country}}{% endif %} {% if building.year_of_construction %}#{{building.year_of_construction}}{% endif %}
                    </p>
                </div>
                <div class="column is-6-desktop">
                    <div class="content">
                        {% if building.architects.count > 0 %}
                            <h2 class="people mb-1 is-size-4">Architects</h2>
                            <p>
                                {% for architect in building.architects.all %}
                                    {% if architect.is_published %}
                                        <a href="{% url 'architect-details' architect.slug %}" alt="{{architect}}">
                                        {{architect}}</a>{% if not forloop.last %}, {% endif %}
                                    {% endif %}
                                {% endfor %}
                                
                            </p>
                        {% endif %}
                        {% if building.developers.count > 0 %}
                            <h2 class="people mb-1 is-size-4">Developers</h2>
                            <p>
                                {% for developer in building.developers.all %}
                                    {% if developer.is_published %}
                                        <a href="{% url 'developer-details' developer.slug %}"
                                        alt="{{developer.first_name}} {{developer.last_name}}">
                                        {{developer.first_name}} {{developer.last_name}}
                                        </a>{% if not forloop.last %}, {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </p>
                        {% endif %}

                        <h2 class="address mb-1 is-size-4">Address and directions</h2>
                        <p class="building-address">{{building.address}}<br>
                        {{building.zip_code}}
                        {% if city_fact %}<a href="{% url 'fact-details' city_fact.slug %}" alt="{{fact.title}}">{% endif %} {{building.city}}{% if city_fact %}</a>{% endif %},
                        {% if country_fact %}<a href="{% url 'fact-details' country_fact.slug %}" alt="{{fact.title}}">{% endif %} {{building.city.country}}{% if country_fact %}</a>{% endif %}
                        {% if building.directions %}
                            <p><strong>Public transport:</strong> {{building.directions}}</p>
                        {% endif %}
                        {% if building.access_type %}
                            <p><strong>Access:</strong> {{building.access_type}}</p>
                        {% endif %}
                        {% if building.todays_use %}
                            <p><strong>Today's use:</strong> {{building.todays_use}}</p>
                        {% endif %}

                    </div> 
                </div>
            </div>

            <div class="columns">
                <div class="column">
                    <div class="content is-size-5">
                        <div class="box desription">
                            {% if building.subtitle %}
                                <h2 class="is-size-4">{{building.subtitle}}</h2>
                            {% endif %}
                            {% if building.description %}
                                <p><strong>Description</strong></p>
                                {{building.description | safe}}
                            {% endif %}
                            {% if building.history %}
                                <p><strong>History</strong></p>
                                {{building.history | safe}}
                            {% endif %}
                            {% if source_urls or source_books %}
                                <p><strong>Sources</strong></p>
                                <ul>
                                    {% for source in source_urls.all %}
                                        <li><a href="{{source.url}}" target="_blank" rel="noreferrer noopener">{{source.title}}</a></li>
                                    {% endfor %}
                                    {% for source in source_books.all %}
                                        <li>
                                            {% for author in source.authors.all %} {{author.last_name}}{% if forloop.last %}:{% else %}, {% endif %}{% endfor %} {{source.title}}, {% if source.year %}{{source.year}}{% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="column is-one-quarter">
                    {% if building.construction_types.count > 0 %}
                        <strong>Construction types</strong>
                        <div class="tags">
                            {% for construction_type in building.construction_types.all %}
                                <span class="tag">{{construction_type.name}}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if building.facades.count > 0 %}
                        <strong>Facades</strong>
                        <div class="tags">
                            {% for facade in building.facades.all %}
                                <span class="tag">{{facade.name}}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if building.windows.count > 0 %}
                        <strong>Windows</strong>
                        <div class="tags">
                            {% for window in building.windows.all %}
                                <span class="tag">{{window.name}}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if building.roofs.count > 0 %}
                        <strong>Roof</strong>
                        <div class="tags">
                            {% for roof in building.roofs.all %}
                                <span class="tag">{{roof.name}}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if building.details.count > 0 %}
                        <strong>Details</strong>
                        <div class="tags">
                            {% for detail in building.details.all %}
                                <span class="tag">{{detail.name}}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if building.positions.count > 0 %}
                        <strong>Position</strong>
                        <div class="tags">
                            {% for position in building.positions.all %}
                                <span class="tag">{{position.name}}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if building.storey %}
                        <strong>Storeys</strong>
                        <div class="tags">
                            <span class="tag">{{building.storey}}</span>
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="columns">
                <div class="column">
                    <div class="content">
                        {% if building.gallery_images %}<h2 class="impressions mb-3 mt-3 is-size-4">Impressions</h2>{% endif %}
                            {% for gallery_image in building.gallery_images %}
                                <img 
                                    src="{{ gallery_image.image|thumbnail_url:'preview' }}" 
                                    class="preview-image" 
                                    large-url="{{ gallery_image.image|thumbnail_url:'large' }}" 
                                    index="{{ forloop.counter0 }}"
                                    photographer="{% if gallery_image.photographer %}{{ gallery_image.photographer }}{% endif %}"
                                    description="{% if gallery_image.description %}{{ gallery_image.description }}{% endif %}"
                                    alt="Gallery image of {{building.name}}"
                                />
                            {% endfor %}
                    </div>
                </div>
            </div>

            <div id="image-modal" class="modal">
                <div class="modal-background"></div>
                <div class="modal-content has-text-centered">
                    <button id="close-button" class="modal-close is-large" aria-label="close">CLOSE</button>
                    <figure><img id="modal-image" src="" /></figure>
                    <p id="image-description"></p>
                    <p id="image-photographer"></p>
                    <div class="image-nav-btn">
                    <button id="btn-prev" class="button prev" onclick="setModalImage('prev')">&#10094;</button>
                    <button id="btn-next" class="button next" onclick="setModalImage('next')">&#10095;</button>
                    </div>
                </div>
            </div>

            <div class="columns">
            <div class="column">
                <div class="content">
                    <div id="mapWrapper">
                        <div id="mapBuilding"></div>
                    </div>
                </div>
            </div>
            </div>

        </div>
    </section>
{% endblock content %}

{% block extra_js %}
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="crossorigin=""></script>
    <script type="application/javascript" src="{% static 'lib/leaflet.markercluster.js' %}"></script>
    <script type="application/javascript" src="{% static 'lib/miaBuilding.js' %}"></script>
{% endblock %}