{% extends "mia_general/base.html" %}

{% load static %}

{% block body_class %}buildings{% endblock %}

{% block breadcrumbs %}
    <section class="breadcrumbs-section">
        <div class="container">
            <nav class="breadcrumb has-bullet-separator is-right is-small" aria-label="breadcrumbs">
                <ul>
                    <li>
                        <a href="{% url 'main' %}">
                            <span class="hidden" aria-hidden="false">Home</span>
                        </a>
                    </li>
                    <li>
                        <a class="inactive" href="{% url 'building-index-list' %}" aria-level="2">
                            Buildings
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>
{% endblock breadcrumbs %}

{% block content %}
    <section class="building-idx-container mt-3">
        <div class="container">
                <div class="columns is-vcentered reverse-column-order">
                    <div class="column is-10 has-text-centered has-text-left-desktop">
                        <button class="button filter-icon">
                            <ion-icon name="options-outline"></ion-icon><span class="filter-ion-icon">Filter</span>
                        </button>
                    </div>
                    <div class="column">
                        {% comment %} <form action="" method="get" class="form-search">
                            {% csrf_token %}
                            <div class="field has-addons is-justify-content-flex-end">
                                <div class="control">
                                    <input type="text" class="input" name="q" placeholder="Search" title="Search for:">
                                </div>
                                <div class="control">
                                    <button class="button" type="submit" name="submit" id="searchsubmit" value="Search">
                                        <ion-icon name="search-outline"></ion-icon>
                                    </button>
                                </div>
                            </div>
                        </form> {% endcomment %}
                    </div>
                </div>
                <div class="columns is-vcentered">
                    <div class="column filter-column is-hidden">
                        <form action="" method="post" class="form-filter">
                            {% csrf_token %}
                            <div class="is-flex is-flex-direction-row">
                                <div class="p-1 set-filter-btn is-hidden">
                                    <button id="apply-filter-btn" class="button is-small is-link" type="submit">Apply filters</button>
                                </div>
                                <div class="p-1 remove-filter-btn is-hidden">
                                    <button id="reset-filter-btn" class="button is-small is-link"><ion-icon name="trash-outline"></ion-icon> Clear</button>
                                </div>
                            </div>
                            <div class="filter-form is-hidden">
                                <div class="is-flex is-flex-direction-row is-flex-wrap-wrap">
                                    <div class="p-1">
                                        <div class="dropdown-custom">
                                            <div class="dropdown-trigger">
                                                <button class="button is-small" aria-haspopup="true" aria-controls="dropdown-menu-architects">
                                                    <span class="filter-label">{{ form.architects.label }}</span>
                                                    <span class="icon is-small">
                                                        <ion-icon name="chevron-down-outline"></ion-icon>
                                                    </span>
                                                </button>
                                            </div>
                                            <div id="dropdown-menu-architects" class="menu is-hidden" role="menu">
                                                <div class="dropdown-content p-2 is-size-7">
                                                    {% comment %} <input id="architects-search" class="input is-small" type="text" placeholder="Search..."> {% endcomment %}
                                                    {{ form.architects }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="p-1">
                                        <div class="dropdown-custom">
                                            <div class="dropdown-trigger">
                                                <button class="button is-small" aria-haspopup="true" aria-controls="dropdown-menu-developers">
                                                    <span class="filter-label">{{ form.developers.label }}</span>
                                                    <span class="icon is-small">
                                                        <ion-icon name="chevron-down-outline"></ion-icon>
                                                    </span>
                                                </button>
                                            </div>
                                            <div id="dropdown-menu-developers" class="menu is-hidden" role="menu">
                                                <div class="dropdown-content p-2 is-size-7">
                                                    {% comment %} <input id="developers-search" class="input is-small" type="text" placeholder="Search..."> {% endcomment %}
                                                    {{ form.developers }}
                                                </div>
                                            </div>
                                        </div> 
                                    </div>

                                    <div class="p-1">
                                        <div class="dropdown-custom">
                                            <div class="dropdown-trigger">
                                                <button class="button is-small" aria-haspopup="true" aria-controls="dropdown-menu-years">
                                                    <span class="filter-label">{{ form.years.label }}</span>
                                                    <span class="icon is-small">
                                                        <ion-icon name="chevron-down-outline"></ion-icon>
                                                    </span>
                                                </button>
                                            </div>
                                            <div id="dropdown-menu-years" class="menu is-hidden" role="menu">
                                                <div class="dropdown-content p-2 is-size-7">
                                                    {% comment %} <input id="years-search" class="input is-small" type="text" placeholder="Search..."> {% endcomment %}
                                                    {{ form.years }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="p-1">
                                        <div class="dropdown-custom">
                                            <div class="dropdown-trigger">
                                                <button class="button is-small" aria-haspopup="true" aria-controls="dropdown-menu-countries">
                                                    <span class="filter-label">{{ form.countries.label }}</span>
                                                    <span class="icon is-small">
                                                        <ion-icon name="chevron-down-outline"></ion-icon>
                                                    </span>
                                                </button>
                                            </div>
                                            <div id="dropdown-menu-countries" class="menu is-hidden" role="menu">
                                                <div class="dropdown-content p-2 is-size-7">
                                                    {% comment %} <input id="country-search" class="input is-small" type="text" placeholder="Search..."> {% endcomment %}
                                                    {{ form.countries }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="p-1">
                                        <div class="dropdown-custom">
                                            <div class="dropdown-trigger">
                                                <button class="button is-small" aria-haspopup="true" aria-controls="dropdown-menu-cities">
                                                    <span class="filter-label">{{ form.cities.label }}</span>
                                                    <span class="icon is-small">
                                                        <ion-icon name="chevron-down-outline"></ion-icon>
                                                    </span>
                                                </button>
                                            </div>
                                            <div id="dropdown-menu-cities" class="menu is-hidden" role="menu">
                                                <div class="dropdown-content p-2 is-size-7">
                                                    {% comment %} <input id="cities-search" class="input is-small" type="text" placeholder="Search..."> {% endcomment %}
                                                    {{ form.cities }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="p-1">
                                        <div class="dropdown-custom">
                                            <div class="dropdown-trigger">
                                                <button class="button is-small" aria-haspopup="true" aria-controls="dropdown-menu-features">
                                                    <span class="filter-label"><span class="filter-label">Types</span></span>
                                                    <span class="icon is-small">
                                                        <ion-icon name="chevron-down-outline"></ion-icon>
                                                    </span>
                                                </button>
                                            </div>
                                            <div id="dropdown-menu-features" class="menu is-hidden" role="menu">
                                                <div class="dropdown-content p-2 is-size-7">
                                                    <div class="mt-1">
                                                        {{ form.building_types.label }}<br />
                                                        <div class="select is-small">{{ form.building_types }}</div>
                                                    </div>
                                                    <div class="mt-1">
                                                        {{ form.access_types.label }}<br />
                                                        <span class="select is-small">{{ form.access_types }}</span>
                                                    </div>
                                                    <div class="mt-1">
                                                        {{ form.protected_monument.label }}<br />
                                                        <span class="select is-small">{{ form.protected_monument }}</span>
                                                    </div>
                                                    <div class="mt-1">
                                                        {{ form.storey.label }}<br />
                                                        <span class="select is-small">{{ form.storey }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="p-1">
                                        <div class="dropdown-custom">
                                            <div class="dropdown-trigger">
                                                <button class="button is-small" aria-haspopup="true" aria-controls="dropdown-menu-construction">
                                                    <span class="filter-label">{{ form.construction_types.label }}</span>
                                                    <span class="icon is-small">
                                                        <ion-icon name="chevron-down-outline"></ion-icon>
                                                    </span>
                                                </button>
                                            </div>
                                            <div id="dropdown-menu-construction" class="menu is-hidden" role="menu">
                                                <div class="dropdown-content p-2 is-size-7">
                                                    {{ form.construction_types }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="p-1">
                                        <div class="dropdown-custom">
                                            <div class="dropdown-trigger">
                                                <button class="button is-small" aria-haspopup="true" aria-controls="dropdown-menu-details">
                                                    <span class="filter-label">{{ form.details.label }}</span>
                                                    <span class="icon is-small">
                                                        <ion-icon name="chevron-down-outline"></ion-icon>
                                                    </span>
                                                </button>
                                            </div>
                                            <div id="dropdown-menu-details" class="menu is-hidden" role="menu">
                                                <div class="dropdown-content p-2 is-size-7">
                                                    {{ form.details }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="p-1">
                                        <div class="dropdown-custom">
                                            <div class="dropdown-trigger">
                                                <button class="button is-small" aria-haspopup="true" aria-controls="dropdown-menu-windows">
                                                    <span class="filter-label"> {{ form.windows.label }}</span>
                                                    <span class="icon is-small">
                                                        <ion-icon name="chevron-down-outline"></ion-icon>
                                                    </span>
                                                </button>
                                            </div>
                                            <div id="dropdown-menu-windows" class="menu is-hidden" role="menu">
                                                <div class="dropdown-content p-2 is-size-7">
                                                    {{ form.windows }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="p-1">
                                        <div class="dropdown-custom">
                                            <div class="dropdown-trigger">
                                                <button class="button is-small" aria-haspopup="true" aria-controls="dropdown-menu-roofs">
                                                    <span class="filter-label">{{ form.roofs.label }}</span>
                                                    <span class="icon is-small">
                                                        <ion-icon name="chevron-down-outline"></ion-icon>
                                                    </span>
                                                </button>
                                            </div>
                                            <div id="dropdown-menu-roofs" class="menu is-hidden" role="menu">
                                                <div class="dropdown-content p-2 is-size-7">
                                                    {{ form.roofs }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="p-1">
                                        <div class="dropdown-custom">
                                            <div class="dropdown-trigger">
                                                <button class="button is-small" aria-haspopup="true" aria-controls="dropdown-menu-facades">
                                                    <span class="filter-label">{{ form.facades.label }}</span>
                                                    <span class="icon is-small">
                                                        <ion-icon name="chevron-down-outline"></ion-icon>
                                                    </span>
                                                </button>
                                            </div>
                                            <div id="dropdown-menu-facades" class="menu is-hidden" role="menu">
                                                <div class="dropdown-content p-2 is-size-7">
                                                    {{ form.facades }} 
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="p-1">
                                        <div class="dropdown-custom">
                                            <div class="dropdown-trigger">
                                                <button class="button is-small" aria-haspopup="true" aria-controls="dropdown-menu-positions">
                                                    <span class="filter-label">{{ form.positions.label }}</span>
                                                    <span class="icon is-small">
                                                        <ion-icon name="chevron-down-outline"></ion-icon>
                                                    </span>
                                                </button>
                                            </div>
                                            <div id="dropdown-menu-positions" class="menu is-hidden" role="menu">
                                                <div class="dropdown-content p-2 is-size-7">
                                                    {{ form.positions }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="columns is-vcentered">
                    <div class="column has-text-centered has-text-left-desktop">
                        {% if buildings %}
                            <p>total: {{buildings.count}}</p>
                        {% else %}
                            <p class="mt-3">No results for this selection. Please try again.</p>
                        {% endif %}
                        <p><span id="filter-description"></span></p>
                        {% if search_term %}
                            <p id="search-description">
                                You searched for: {{search_term}} <a href=""><ion-icon name="trash-outline" class="is-size-5"></ion-icon></a> 
                            </p>
                        {% endif %}
                    </div>
                </div>
            {% include page_template %}
        </div>
    </section>
{% endblock content %}

{% block extra_js %}
    {{ block.super }}
    <script type="application/javascript" src="https://code.jquery.com/jquery-latest.js"></script>
    <script type="application/javascript" src="{% static 'el-pagination/js/el-pagination.js' %}"></script>
    <script type="application/javascript" src="{% static 'lib/buildingIndex.js' %}"></script>
    <script>
        $.endlessPaginate({
            paginateOnScroll: true,
        });
    </script>
{% endblock %}